force-app/main/default/flows/Contract_Before_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Contract_Type</name>
        <label>Assign Contract Type</label>
        <locationX>413</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Services Only</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_OR_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_OSA</name>
        <label>Assign Parent OSA</label>
        <locationX>413</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>$Record.Parent_OSA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.Parent_OSA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Renewed_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent_OSA__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Service_Only</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Renewal_Contract</name>
        <label>Assign Renewal Contract</label>
        <locationX>50</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>$Record.Renewed_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__Opportunity2__r.SBQQ__RenewedContract__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckContractFieldValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>BIZ-73465</description>
        <name>Assign_Revenue_Details</name>
        <label>Assign Revenue Details</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Includes_Termination_Clause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__r.Includes_Termination_Clause__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Cancellation_fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__r.Cancellation_fee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Includes_multi_year_term_for_on_perm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__r.Include_Multi_Year_Term_for_OnPrem__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Includes_modification_to_contract_term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__r.Includes_modification_to_contract_term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Replace_existing_agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__r.Replace_Existing_Agreement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Includes_platform_deployment_conversion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__r.Include_Platform_Deployment_Conversion__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verify_If_Quote_Is_Not_Blank_On_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Preserve Bundle Structure to true as per BIZ-48726 BIZ-48829</description>
        <name>MDQ_Renewal_Behaviour_assignment</name>
        <label>MDQ Renewal Behaviour assignment</label>
        <locationX>182</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__PreserveBundleStructureUponRenewals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__RenewalTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Quote_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Order_Id</name>
        <label>Populate Order Id</label>
        <locationX>413</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Order_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Revenue_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PopulateContractCheckboxValuesFromQuoteonUpdate</name>
        <label>PopulateContractCheckboxValuesFrom Quote</label>
        <locationX>578</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>$Record.Includes_platform_deployment_conversion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Include_Platform_Deployment_Conversion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Includes_Termination_Clause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__r.SBQQ__Quote__r.Includes_Termination_Clause__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Includes_modification_to_contract_term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__r.SBQQ__Quote__r.Includes_modification_to_contract_term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Replace_existing_agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__r.SBQQ__Quote__r.Replace_Existing_Agreement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Includes_multi_year_term_for_on_perm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__r.SBQQ__Quote__r.Include_Multi_Year_Term_for_OnPrem__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>populateContractvaluesFromQuote</name>
        <label>populateContractvaluesFromQuote</label>
        <locationX>50</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>$Record.Shipping_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Ship_To_Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OSA_Signature_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.OSA_Signature_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contractNameFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Contract_Master_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Contract_Master_Terms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Custom_Software_Payment_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Custom_Software_Payment_Term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Free_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Free_Months__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Line_of_Business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Line_of_Business__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ContractTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__SubscriptionTerm__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Software_Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Software_Payment_Terms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__BillingFrequency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Ramping_Users__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Ramping_Users__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Billing_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Bill_To_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__r.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__r.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__r.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__r.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__r.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__r.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__r.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__r.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__r.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__r.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PO_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.PO_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OP4I_Deal_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.OP4IDealID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CompanySignedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__StartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OSA_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.OSA_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subsidiary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Subsidiary__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Services_Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Services_Terms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Cancellation_fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Cancellation_fee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ROR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.ROR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.First_Segment_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.First_Segment_Months__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Software_Days_Payment_Due_Renewal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Renewal_Payment_Terms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Software_Billing_Frequency_Renewal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Renewal_Billing_Frequency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Invoicing_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Invoicing_Contact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Booking_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Booking_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ROR_Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.ROR_Expiration_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Bill_To_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__r.Bill_To_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Ship_To_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__r.Ship_To_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Deal_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Deal_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Includes_platform_deployment_conversion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Include_Platform_Deployment_Conversion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Includes_Termination_Clause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Includes_Termination_Clause__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Includes_modification_to_contract_term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Includes_modification_to_contract_term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Replace_existing_agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Replace_Existing_Agreement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Includes_multi_year_term_for_on_perm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Include_Multi_Year_Term_for_OnPrem__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Null_Check_Check_OSA_Customer_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>populateContractvaluesFromQuoteonUpdate</name>
        <label>populateContractvaluesFromQuoteonUpdate</label>
        <locationX>710</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>$Record.Software_Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__r.SBQQ__Quote__r.Software_Payment_Terms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__r.SBQQ__Quote__r.SBQQ__BillingFrequency__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Contract_order_present_or_not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PopulatePriceBookId</name>
        <label>Populate PricebookId</label>
        <locationX>413</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__RenewalPricebookId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__PricebookId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__AmendmentPricebookId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__PricebookId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Renewal_Contract_Parent_OSA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateOSACustomerName</name>
        <label>UpdateOSACustomerName</label>
        <locationX>50</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>$Record.OSA_Customer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Contract_order_present_or_not</name>
        <label>Check Contract order present or not</label>
        <locationX>710</locationX>
        <locationY>1811</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Quote_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Order__r.SBQQ__Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PopulateContractCheckboxValuesFromQuoteonUpdate</targetReference>
            </connector>
            <label>Order &amp; Quote Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quote_Type</name>
        <label>Check Quote Type</label>
        <locationX>182</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>CheckContractFieldValues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Renewal_Contract</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Renewal_Contract_Parent_OSA</name>
        <label>Check Renewal Contract Parent OSA</label>
        <locationX>545</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Check_Service_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewal_Contract_Parent_OSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__Opportunity2__r.SBQQ__RenewedContract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.Parent_OSA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent_OSA</targetReference>
            </connector>
            <label>Renewal Contract Parent OSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Service_Only</name>
        <label>Check Service Only</label>
        <locationX>545</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Insert_OR_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Software_Products__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contract_Type</targetReference>
            </connector>
            <label>Service Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckContractFieldValues</name>
        <label>CheckContractFieldValues</label>
        <locationX>182</locationX>
        <locationY>2003</locationY>
        <defaultConnector>
            <targetReference>Null_Check_Check_OSA_Customer_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsQuotePresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>populateContractvaluesFromQuote</targetReference>
            </connector>
            <label>IsQuotePresent</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckContractFieldValuesOnUpdate</name>
        <label>CheckContractFieldValuesOnUpdate</label>
        <locationX>908</locationX>
        <locationY>1595</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsQuotePresentOnUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>populateContractvaluesFromQuoteonUpdate</targetReference>
            </connector>
            <label>IsQuotePresentOnUpdate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Insert_OR_Update</name>
        <label>Insert OR Update</label>
        <locationX>545</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>CheckContractFieldValuesOnUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Update - True</defaultConnectorLabel>
        <rules>
            <name>Is_New_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MDQ_Renewal_Behaviour_assignment</targetReference>
            </connector>
            <label>Is New - True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_Check_OSA_Customer_Name</name>
        <label>Null Check Check OSA Customer Name</label>
        <locationX>182</locationX>
        <locationY>2303</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OSA_Customer_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OSA_Customer_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOSACustomerName</targetReference>
            </connector>
            <label>OSA Customer Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_If_Order_Is_Not_Blank_On_Contract</name>
        <label>Verify If Order Is Not Blank On Contract</label>
        <locationX>545</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Verify_If_Quote_Is_Not_Blank_On_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Is_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Order_Id</targetReference>
            </connector>
            <label>Order Is Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_If_Quote_Is_Not_Blank_On_Contract</name>
        <label>Verify If Quote Is Not Blank On Contract</label>
        <locationX>545</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Check_Renewal_Contract_Parent_OSA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_Is_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PopulatePriceBookId</targetReference>
            </connector>
            <label>Quote Is Not Blank</label>
        </rules>
    </decisions>
    <description>BIZ-44228 On creation of a new contract the &apos;OSA customer name&apos; field should be update with  Account name.
Used to map fields from quote to contract BIZ-47720,BIZ-48699
 Modified as part of BIZ-47461 , 47145 and 47619.
Preserve Bundle structure to true BIZ-48726
BIZ-48829 Update Renewal Term as 12
BIZ-49267 Update Subsidiary
BIZ-50017 Update Master Contract Checkbox
BIZ-50474 Quote to Contract Field Mapping
BIZ-50208 Quote To Contract Booking Date Field Mapping.
BIZ-51293 modified to add-Renewed Contract
BIZ-58801 modified to populate address lookup
BIZ-60120 Populate Order Id
BIZ-67744 updating the status to &apos;Cancelled / Lapsed if related quote type is Cancellation
BIZ-73453 - Populate Parent OSA.
BIZ-76787 - Added new logic to check order Quote is null or not then assign values.
BIZ-78433 - Include platform deployment conversion field assignment source updated to Order from Quote</description>
    <environments>Default</environments>
    <formulas>
        <name>contractNameFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.SBQQ__Quote__r.SBQQ__Opportunity2__r.Name}, 80)</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Contract Before Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Before Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verify_If_Order_Is_Not_Blank_On_Contract</targetReference>
        </connector>
        <filterFormula>NOT(
        {!$Setup.Automation_Controls__c.Active__c} &amp;&amp;
        {!$Setup.Automation_Controls__c.Bypass_Flows__c} &amp;&amp;
        {!$Setup.Automation_Controls__c.Contract_Bypass__c} &amp;&amp;
        (
            ISBLANK({!$Setup.Automation_Controls__c.Data_Id__c}) || 
            (
                NOT(ISBLANK({!$Setup.Automation_Controls__c.Data_Id__c})) &amp;&amp;
                CONTAINS({!$Setup.Automation_Controls__c.Data_Id__c}, {!$Record.Id})
            )
        )
    )</filterFormula>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
