force-app/main/default/flows/Deal_Checklist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Both_Checkbox_Selected</name>
        <label>Both Checkbox Selected</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Update_Validation_Checklist_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Both_Flag_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contract_Ops_Audit_Complete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Deal_Desk_Audit_Complete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Order_Management_Audit_Complete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Validation_Checklist</targetReference>
            </connector>
            <label>Both Flag Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Deal_Checklist_Present</name>
        <label>Is Deal Checklist Present</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Deal_Closure_Checklist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Deal_Checklist_Record_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Details.Validation_Checklist__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deal_Checklist_Details</targetReference>
            </connector>
            <label>Is Deal Checklist Record Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Validation_Checklist_present</name>
        <label>is Validation Checklist present</label>
        <locationX>380</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Create_Validation_Checklist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checklist_is_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Details.Validation_Checklist__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Both_Checkbox_Selected</targetReference>
            </connector>
            <label>Checklist is present</label>
        </rules>
    </decisions>
    <description>Deal closure checklist will be displayed on quote when stage is Contract Executed and only to Operations team. Built the flow as part of BIZ-45142 story , 
Select all checkbox added as part of BIZ-48431
Edited according to BIZ-49979 and made to a single checkbox
BIZ-61710 - Create a Quote checkbox for &quot;Deal Desk Audit Complete&quot;, Updated Deal Closure Checklist.</description>
    <environments>Default</environments>
    <formulas>
        <description>Deal Type Label</description>
        <name>DealType</name>
        <dataType>String</dataType>
        <expression>CASE( TEXT({!Get_Quote_Details.Deal_Type__c}), 
&apos;Acquired_Contract&apos;, &apos;Acquired Contract&apos;, 
&apos;AddOn&apos;, &apos;Add-On&apos;,
&apos;Contract_Replacement&apos;, &apos;Contract Replacement&apos;,
&apos;New_Software&apos;, &apos;New Software&apos;,
&apos;NextYear_MultiYear&apos;, &apos;Next Year, Multi-Year&apos;,
&apos;PlatformConversion_INTERNAL&apos;, &apos;Platform Conversion - Internal&apos;,
&apos;Platform_Fee&apos;, &apos;Platform Fee&apos;,
&apos;Services_Only&apos;, &apos;Services Only&apos;,
&apos;Services_Replacement&apos;, &apos;Services Replacement&apos;,
TEXT({!Get_Quote_Details.Deal_Type__c})
)</expression>
    </formulas>
    <interviewLabel>Deal Checklist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deal Closure Checklist</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Validation_Checklist</name>
        <label>Create Validation Checklist</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Update_Validation_Checklist_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Contract_Ops_Audit_Complete__c</field>
            <value>
                <elementReference>Contract_Ops_Audit_Complete</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal_Desk_Audit_Complete__c</field>
            <value>
                <elementReference>Deal_Desk_Audit_Complete</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Management_Audit_Complete__c</field>
            <value>
                <elementReference>Order_Management_Audit_Complete</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>Get_Quote_Details.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Validation_Checklist__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Deal_Checklist_Details</name>
        <label>Deal Checklist Details</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Deal_Closure_Checklist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote_Details.Validation_Checklist__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Validation_Checklist__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Details</name>
        <label>Get Quote Details</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Deal_Checklist_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote_Record</name>
        <label>Update Quote Record</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Validation_Checklist__c</field>
            <value>
                <elementReference>Create_Validation_Checklist</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Validation_Checklist</name>
        <label>Update Validation Checklist</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Deal_Checklist_Details.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contract_Ops_Audit_Complete__c</field>
            <value>
                <elementReference>Contract_Ops_Audit_Complete</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Verified__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal_Desk_Audit_Complete__c</field>
            <value>
                <elementReference>Deal_Desk_Audit_Complete</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Management_Audit_Complete__c</field>
            <value>
                <elementReference>Order_Management_Audit_Complete</elementReference>
            </value>
        </inputAssignments>
        <object>Validation_Checklist__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Validation_Checklist_2</name>
        <label>Update Validation Checklist 2</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Deal_Checklist_Details.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contract_Ops_Audit_Complete__c</field>
            <value>
                <elementReference>Contract_Ops_Audit_Complete</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Verified__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal_Desk_Audit_Complete__c</field>
            <value>
                <elementReference>Deal_Desk_Audit_Complete</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Management_Audit_Complete__c</field>
            <value>
                <elementReference>Order_Management_Audit_Complete</elementReference>
            </value>
        </inputAssignments>
        <object>Validation_Checklist__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Validation_Checklist_3</name>
        <label>Update Validation Checklist 3</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Update_Quote_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Deal_Desk_Audit_Complete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Ops_Audit_Complete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Order_Management_Audit_Complete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Contract_Verified__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Validation_Checklist__c</object>
    </recordUpdates>
    <screens>
        <name>Deal_Closure_Checklist</name>
        <label>Deal Closure Checklist</label>
        <locationX>380</locationX>
        <locationY>542</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>is_Validation_Checklist_present</targetReference>
        </connector>
        <fields>
            <name>Deal_Closure_Checklist_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Deal_Closure_Checklist_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Deal_Desk_Audit_Complete</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Deal_Checklist_Details.Deal_Desk_Audit_Complete__c</elementReference>
                    </defaultValue>
                    <fieldText>Deal Desk Audit Complete</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Contract_Ops_Audit_Complete</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Deal_Checklist_Details.Contract_Ops_Audit_Complete__c</elementReference>
                    </defaultValue>
                    <fieldText>Contract Ops Audit Complete</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Order_Management_Audit_Complete</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Deal_Checklist_Details.Order_Management_Audit_Complete__c</elementReference>
                    </defaultValue>
                    <fieldText>Order Management Audit Complete</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
