force-app/main/default/flows/Latest_Approval_Cooments_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>cleatcomment</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <name>CommentClear</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>Rejection_Check</name>
        <label>Approve Check</label>
        <locationX>819</locationX>
        <locationY>352</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rejection_Status_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sbaa__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apporved_Comment_Update</targetReference>
            </connector>
            <label>Approve Status Check</label>
        </rules>
        <rules>
            <name>Rejection_Check_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sbaa__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_reject_comments</targetReference>
            </connector>
            <label>Rejection Check status</label>
        </rules>
        <rules>
            <name>Resubmit_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sbaa__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>resubmit_approval_clear_comments</targetReference>
            </connector>
            <label>Resubmit Approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_not_equal_to_Prior</name>
        <label>Status not equal to Prior</label>
        <locationX>691</locationX>
        <locationY>224</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sbaa__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.sbaa__Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejection_Check</targetReference>
            </connector>
            <label>Check Status</label>
        </rules>
    </decisions>
    <description>BIZ-283</description>
    <environments>Default</environments>
    <formulas>
        <name>CommentBlank</name>
        <dataType>String</dataType>
        <expression>Null</expression>
    </formulas>
    <interviewLabel>Latest Approval Cooments Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Latest Approval Comments Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Apporved_Comment_Update</name>
        <label>Apporved Comment Update</label>
        <locationX>461</locationX>
        <locationY>382</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Latest_Approvers_comment__c</field>
            <value>
                <elementReference>ApprovalApprovedComment</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>resubmit_approval_clear_comments</name>
        <label>resubmit approval clear comments</label>
        <locationX>1141</locationX>
        <locationY>463</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Latest_Approvers_comment__c</field>
            <value>
                <elementReference>CommentBlank</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_reject_comments</name>
        <label>Update reject comments</label>
        <locationX>829</locationX>
        <locationY>561</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Latest_Approvers_comment__c</field>
            <value>
                <elementReference>ApprovalRejectionCmoment</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>276</locationX>
        <locationY>77</locationY>
        <connector>
            <targetReference>Status_not_equal_to_Prior</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>sbaa__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>sbaa__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>sbaa__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </filters>
        <object>sbaa__Approval__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>ApprovalApprovedComment</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.sbaa__Status__c} by {!$Record.sbaa__ApprovedBy__r.FirstName} {!$Record.sbaa__ApprovedBy__r.LastName}. {!$Record.sbaa__CommentsLong__c} : {!$Flow.CurrentDateTime}
{!$Record.Quote__r.Latest_Approvers_comment__c}</text>
    </textTemplates>
    <textTemplates>
        <name>ApprovalRejectionCmoment</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.sbaa__Status__c} by {!$Record.sbaa__RejectedBy__r.FirstName} {!$Record.sbaa__RejectedBy__r.LastName}. {!$Record.sbaa__CommentsLong__c}: {!$Flow.CurrentDateTime}
{!$Record.Quote__r.Latest_Approvers_comment__c}</text>
    </textTemplates>
    <textTemplates>
        <name>BlankComment</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.sbaa__CommentsLong__c}</text>
    </textTemplates>
</Flow>
