force-app/main/default/flows/Order_After_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Activate_non_Amend_Renew_Order</name>
        <label>Activate non Amend/Renew Order</label>
        <locationX>314</locationX>
        <locationY>1524</locationY>
        <assignmentItems>
            <assignToReference>oOrder.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.ContractNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.OSA_Auto_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enddatevalue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Activate_Order</name>
        <label>Activate Order</label>
        <locationX>50</locationX>
        <locationY>1524</locationY>
        <assignmentItems>
            <assignToReference>oOrder.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.ContractNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.OSA_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enddatevalue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Billing_Address_For_Non_Migrated_Contract</name>
        <label>Update Billing Address For Non Migrated Contract</label>
        <locationX>633</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>oOrder.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Order_Details.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Order_Details.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Order_Details.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Order_Details.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Order_Details.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsOrderUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Bill_To_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Order_Details.Bill_To_Address__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Shipping_Address_For_Non_Migrated_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Billing_Address_When_Original_Order_Id_Is_Blank</name>
        <label>Update Billing Address When Original Order Id Is Blank</label>
        <locationX>369</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>oOrder.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.Bill_To_Address__r.Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.Bill_To_Address__r.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.Bill_To_Address__r.Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.Bill_To_Address__r.Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.Bill_To_Address__r.Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsOrderUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Bill_To_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.Bill_To_Address__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Shipping_Address_When_Original_Order_Id_Is_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Shipping_Address_For_Non_Migrated_Contract</name>
        <label>Update Shipping Address For Non Migrated Contract</label>
        <locationX>633</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>oOrder.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Order_Details.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Order_Details.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Order_Details.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Order_Details.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Order_Details.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsOrderUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Ship_To_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Order_Details.Ship_To_Address__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Renewal_Letter_on_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Shipping_Address_When_Original_Order_Id_Is_Blank</name>
        <label>Update Shipping Address When Original Order Id Is Blank</label>
        <locationX>369</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>oOrder.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.Ship_To_Address__r.Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.Ship_To_Address__r.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.Ship_To_Address__r.Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.Ship_To_Address__r.Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.Ship_To_Address__r.Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsOrderUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Ship_To_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.Ship_To_Address__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Renewal_Letter_on_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Subsidiary_on_Order</name>
        <label>Update Subsidiary on Order</label>
        <locationX>633</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>oOrder.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.Subsidiary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Subsidiary__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsOrderUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verify_Order_Fields_To_Update_On_Contract</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Contract_and_Subscription_creation_conds</name>
        <label>Check Contract and Subscription creation conds</label>
        <locationX>1326</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Verify_Contract_and_Subscription_conds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Deal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NetSuite_Order_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NetSuite_Sales_order_Internal_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NetSuite_Document_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.FirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>bizappsdev@intapp.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Applications</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Included_In_Batch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NS_Order_Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>T&amp;M</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contracted_checkbox_on_Order</targetReference>
            </connector>
            <label>Verify Contract and Subscription conds</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Order_Activation_Conditions</name>
        <label>Check Order Activation Conditions</label>
        <locationX>380</locationX>
        <locationY>1308</locationY>
        <defaultConnector>
            <targetReference>Verify_If_Order_Update_Is_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Verify_Order_Activation_Conditions</name>
            <conditionLogic>1 AND (2 OR 3) AND 4 AND 5 AND 6 AND 7 AND 8 AND 9</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Deal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__PriceCalcStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Needed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__PriceCalcStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NS_Payment_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Renewal_Letter_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subsidiary__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Quote_Type</targetReference>
            </connector>
            <label>Verify Order Activation Conditions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Order_Status</name>
        <label>Check Order Status</label>
        <locationX>886</locationX>
        <locationY>1308</locationY>
        <defaultConnector>
            <targetReference>Verify_If_Order_Update_Is_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Order_Activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Quote_Lookup</targetReference>
            </connector>
            <label>Not Order Activated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quote_Type</name>
        <label>Check Quote Type</label>
        <locationX>182</locationX>
        <locationY>1416</locationY>
        <defaultConnector>
            <targetReference>Activate_non_Amend_Renew_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_it_is_amendment_renewal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activate_Order</targetReference>
            </connector>
            <label>Check if it is amendment/renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Renewal_Letter_on_Quote</name>
        <label>Check Renewal Letter on Quote</label>
        <locationX>633</locationX>
        <locationY>1200</locationY>
        <defaultConnector>
            <targetReference>Check_Order_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewal_Letter_on_Quote_Is_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Renewal_Letter__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Order_Activation_Conditions</targetReference>
            </connector>
            <label>Renewal Letter on Quote Is Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_If_Order_Update_Is_True</name>
        <label>Verify If Order Update Is True</label>
        <locationX>633</locationX>
        <locationY>2100</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Update_Is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsOrderUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_order_Subsidiary</targetReference>
            </connector>
            <label>Order Update Is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_If_Original_Order_Id_Is_Blank</name>
        <label>Verify If Original Order Id Is Blank</label>
        <locationX>633</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Check_Renewal_Letter_on_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Reduction_Order_Without_Original_Order_Id</name>
            <conditionLogic>1 AND (2 OR 3) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Original_Order_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TotalAmount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_RMA_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Billing_Address_When_Original_Order_Id_Is_Blank</targetReference>
            </connector>
            <label>Is Reduction Order Without Original Order Id</label>
        </rules>
        <rules>
            <name>Is_Reduction_Order</name>
            <conditionLogic>1 AND (2 OR 3) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Original_Order_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TotalAmount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_RMA_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Original_Order_Details</targetReference>
            </connector>
            <label>Is Reduction Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Order_Fields_To_Update_On_Contract</name>
        <label>Verify Order Fields To Update On Contract</label>
        <locationX>633</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Verify_If_Original_Order_Id_Is_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Contract_Fields</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Credit_Memo_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Address Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Credit_Memo_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bill Freq change current term only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Contract</targetReference>
            </connector>
            <label>Update Contract Fields</label>
        </rules>
    </decisions>
    <description>BIZ-65655 RMA order check based on Original Order Id and not update address when contracted and Activated
Updated as per BIZ-64703 -- Avoid quote update when order activated
Updated as per BIZ-64684 - to Subsidiary if it is blank
BIZ-64685 - Changed the 5 min delay scheduled path to trigger on create &amp; update and added the check to ensure order is activated and contracted checkbox is false
updated as per BIZ-64684 to populate and update triggered order subsidiary from triggered record quote subsidiary value
Created as per BIZ-45643, BIZ-46203
Contract creation and Order lookup updation.
Case Creation as per BIZ-50366
Remove Billing package references
BIZ-66216 : Contract orders excluding BizApp users
BIZ-67369 : Wrong Sales Order ID written to OP4i DLI
BIZ-67744: Added Check If Order Contracted and Deal Type Cancellation and its assignment
BIZ-66419: Bypass trigger logic
BIZ-77866: Skip contract creation for T&amp;M orders</description>
    <environments>Default</environments>
    <formulas>
        <description>Created to update the end date of contract</description>
        <name>Enddatevalue</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.SBQQ__Quote__r.SBQQ__StartDate__c},{!$Record.SBQQ__Quote__r.SBQQ__SubscriptionTerm__c})-1</expression>
    </formulas>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Order : After Insert Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order : After Insert Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Original_Order_Details</name>
        <label>Get Original Order Details</label>
        <locationX>633</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Billing_Address_For_Non_Migrated_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Original_Order_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contracted_checkbox_on_Order</name>
        <label>Update Contracted checkbox on Order</label>
        <locationX>1194</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>SBQQ__Contracted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Fields</name>
        <label>Update Order Fields</label>
        <locationX>182</locationX>
        <locationY>1716</locationY>
        <inputReference>oOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_order_Subsidiary</name>
        <label>Update order Subsidiary</label>
        <locationX>501</locationX>
        <locationY>2208</locationY>
        <inputReference>oOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Contract</name>
        <label>Update Related Contract</label>
        <locationX>501</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Verify_If_Original_Order_Id_Is_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bill_To_Address__c</field>
            <value>
                <elementReference>$Record.Bill_To_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingFrequency__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__BillingFrequency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Terms_Software__c</field>
            <value>
                <elementReference>$Record.Software_Payment_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Address__c</field>
            <value>
                <elementReference>$Record.Ship_To_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Quote_Lookup</name>
        <label>Update Related Quote Lookup</label>
        <locationX>754</locationX>
        <locationY>1416</locationY>
        <connector>
            <targetReference>Verify_If_Order_Update_Is_True</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>853</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Subsidiary_on_Order</targetReference>
        </connector>
        <filterFormula>AND(
    NOT({!$Setup.Automation_Controls__c.Active__c} 
    &amp;&amp; {!$Setup.Automation_Controls__c.Bypass_Flows__c} 
    &amp;&amp; {!$Setup.Automation_Controls__c.Order_Bypass__c} 
    &amp;&amp; (
        ISBLANK({!$Setup.Automation_Controls__c.Data_Id__c}) 
        || (
            NOT(ISBLANK({!$Setup.Automation_Controls__c.Data_Id__c})) 
            &amp;&amp; CONTAINS({!$Setup.Automation_Controls__c.Data_Id__c}, {!$Record.Id})
        )
    )),
   NOT(ISBLANK({!$Record.SBQQ__Quote__c}))
)</filterFormula>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Five_Minutes_After_Update</name>
            <connector>
                <targetReference>Check_Contract_and_Subscription_creation_conds</targetReference>
            </connector>
            <label>Five Minutes After Update</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CaseSubjectforOrderActivation</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Order {!$Record.OrderNumber} ready for Review and Activation.</text>
    </textTemplates>
    <textTemplates>
        <name>CaseSubjectforOrderContracting</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Order {!$Record.OrderNumber} ready for Contracting.</text>
    </textTemplates>
    <variables>
        <name>GetInvoicesubsidiary</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsOrderUpdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
</Flow>
