force-app/main/default/flows/Order_After_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>checkT_MorderProduct</name>
        <label>checkT&amp;MorderProduct</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>updateOrderAsStandard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsT_M</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getT_MOrderProduct.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateOrderAsT_M</targetReference>
            </connector>
            <label>IsT&amp;M</label>
        </rules>
    </decisions>
    <description>Created as part of BIZ-51224 for activating created orders
BIZ-53439:NS Order Category is populated T&amp;M Order for T&amp;M Service Product Type
BIZ-66419:Bypass flow logic
BIZ-77866:Set NS Order Category to Standard when no T&amp;M order products exist</description>
    <environments>Default</environments>
    <interviewLabel>Order: After Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order: After Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getT_MOrderProduct</name>
        <label>getT&amp;MOrderProduct</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkT_MorderProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Services_Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>T&amp;M</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateOrderAsStandard</name>
        <label>updateOrderAsStandard</label>
        <locationX>506</locationX>
        <locationY>492</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NS_Order_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>NS_Order_Category__c</field>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateOrderAsT_M</name>
        <label>updateOrderAsT&amp;M</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NS_Order_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>T&amp;M</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>NS_Order_Category__c</field>
            <value>
                <stringValue>T&amp;M</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterFormula>NOT({!$Setup.Automation_Controls__c.Active__c} 
&amp;&amp; {!$Setup.Automation_Controls__c.Bypass_Flows__c} 
&amp;&amp; {!$Setup.Automation_Controls__c.Order_Bypass__c} 
&amp;&amp; (
	ISBLANK({!$Setup.Automation_Controls__c.Data_Id__c}) 
	|| (
		NOT(ISBLANK({!$Setup.Automation_Controls__c.Data_Id__c})) 
		&amp;&amp; CONTAINS({!$Setup.Automation_Controls__c.Data_Id__c}, {!$Record.Id})
	)
))</filterFormula>
        <object>Order</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>getT_MOrderProduct</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
