force-app/main/default/flows/Order_Before_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Billing_Details_to_Order</name>
        <label>Assign Billing Details to Order</label>
        <locationX>270</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>Billing_Attention</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Loop.Billing_Attn__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Addressee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Loop.Addressee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Loop.Phone__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deafult_Shipping_Address_true</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Shipping_Details_to_Order</name>
        <label>Assign Shipping Details to Order</label>
        <locationX>270</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>Shipping_Attention</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Loop.Billing_Attn__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shipping_Addressee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Loop.Addressee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shipping_Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Loop.Phone__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Address_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Renewal_Letter_on_Order</name>
        <label>Populate Renewal Letter on Order</label>
        <locationX>391</locationX>
        <locationY>2687</locationY>
        <assignmentItems>
            <assignToReference>$Record.Proforma_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Renewal_Letter__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verify_If_RMA_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_NS_Order_Type_Cancellarion</name>
        <label>Set NS Order Type Cancellarion</label>
        <locationX>391</locationX>
        <locationY>2987</locationY>
        <assignmentItems>
            <assignToReference>$Record.NS_Order_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancellation</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Billing_and_Shipping_Details_from_Quote</name>
        <label>Update Billing and Shipping Details from Quote</label>
        <locationX>314</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>$Record.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Bill_To_Address__r.Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Bill_To_Address__r.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Bill_To_Address__r.Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Bill_To_Address__r.Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Bill_To_Address__r.Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Ship_To_Address__r.Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Ship_To_Address__r.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Ship_To_Address__r.Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Ship_To_Address__r.Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Ship_To_Address__r.Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Shipping_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Ship_To_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillToContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Invoicing_Contact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShipToContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Software_Delivery_Contact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Bill_To_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Bill_To_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Ship_To_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Ship_To_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Billing_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Bill_To_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Start_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Billing_and_Shipping_Details_from_RMA_Contract</name>
        <label>Update Billing and Shipping Details from RMA Contract</label>
        <locationX>50</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>$Record.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.SBQQ__AmendedContract__r.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.SBQQ__AmendedContract__r.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.SBQQ__AmendedContract__r.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.SBQQ__AmendedContract__r.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.SBQQ__AmendedContract__r.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.SBQQ__AmendedContract__r.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.SBQQ__AmendedContract__r.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.SBQQ__AmendedContract__r.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.SBQQ__AmendedContract__r.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.SBQQ__AmendedContract__r.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Shipping_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.SBQQ__AmendedContract__r.Shipping_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Bill_To_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.SBQQ__AmendedContract__r.Bill_To_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Ship_To_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.SBQQ__AmendedContract__r.Ship_To_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Billing_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.SBQQ__AmendedContract__r.Billing_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillToContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Invoicing_Contact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShipToContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Software_Delivery_Contact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Start_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_contract_number_and_End_date</name>
        <label>Update contract number and End date</label>
        <locationX>193</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContractNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.OSA_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Renewal_Letter_on_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_contract_number_and_End_date_for_non_amend_renew</name>
        <label>Update contract number and End date for non amend/renew</label>
        <locationX>457</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContractNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.OSA_Auto_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Renewal_Letter_on_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Is_Reduction_Value</name>
        <label>Update Is Reduction Value</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.IsReductionOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Address_Records</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Contract_Subscription_or_Positive_Order</name>
        <label>Contract Subscription or Positive Order</label>
        <locationX>578</locationX>
        <locationY>719</locationY>
        <customErrorMessages>
            <errorMessage>Please contract the other order.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_if_we_have_Order_Products</name>
        <label>Check if we have Order Products</label>
        <locationX>864</locationX>
        <locationY>1211</locationY>
        <defaultConnector>
            <targetReference>Check_Start_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Products_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Products.EndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order</targetReference>
            </connector>
            <label>Order Products Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quote_Type</name>
        <label>Check Quote Type</label>
        <locationX>325</locationX>
        <locationY>2195</locationY>
        <defaultConnector>
            <targetReference>Update_contract_number_and_End_date_for_non_amend_renew</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_it_is_amendment_renewal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_contract_number_and_End_date</targetReference>
            </connector>
            <label>Check if it is amendment/renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Renewal_Letter_on_Quote</name>
        <label>Check Renewal Letter on Quote</label>
        <locationX>523</locationX>
        <locationY>2579</locationY>
        <defaultConnector>
            <targetReference>Verify_If_RMA_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewal_Letter_on_Quote_Is_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Renewal_Letter__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Renewal_Letter_on_Order</targetReference>
            </connector>
            <label>Renewal Letter on Quote Is Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RMA_Order</name>
        <label>Check RMA Order</label>
        <locationX>182</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>Update_Billing_and_Shipping_Details_from_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RMA_Order_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_RMA_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Billing_and_Shipping_Details_from_RMA_Contract</targetReference>
            </connector>
            <label>RMA Order Address</label>
        </rules>
    </decisions>
    <decisions>
        <description>Created for story : BIZ-49687, BIZ-51230</description>
        <name>Check_Start_Date</name>
        <label>Check Start Date</label>
        <locationX>523</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>Check_Renewal_Letter_on_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Start_Date_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__StartDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Quote_Type</targetReference>
            </connector>
            <label>Start Date Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deafult_Shipping_Address_true</name>
        <label>Deafult  Shipping Address = true</label>
        <locationX>402</locationX>
        <locationY>1211</locationY>
        <defaultConnector>
            <targetReference>Address_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true_Shipping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Address_Loop.Default_Shipping_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Shipping_Details_to_Order</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Default_Billing_Address_true</name>
        <label>Default Billing Address = true</label>
        <locationX>402</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Deafult_Shipping_Address_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Address_Loop.Default_Billing_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billing_Details_to_Order</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_A_Reduction_Order</name>
        <label>If A Reduction Order</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Get_Address_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_A_Reduction_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TotalAmount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Is_Reduction_Value</targetReference>
            </connector>
            <label>Is A Reduction Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Order</name>
        <label>Is New Order</label>
        <locationX>523</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Is_Order_getting_Contracted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNewOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_A_Reduction_Order</targetReference>
            </connector>
            <label>isNewOrder</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Order_getting_Contracted</name>
        <label>Is Order getting Contracted</label>
        <locationX>864</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Get_Order_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Order_Getting_Contracted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAssociatedOrders</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription_or_Positive_Un_Contracted_Order_Present</name>
        <label>Subscription or Positive Un Contracted Order Present</label>
        <locationX>710</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Get_Order_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Subscription_or_Positive_Un_Contracted_Order_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAssociatedOrders</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAssociatedOrders</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Subscription_or_Positive_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_If_RMA_Order</name>
        <label>Verify If RMA Order</label>
        <locationX>523</locationX>
        <locationY>2879</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_RMA_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_RMA_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_NS_Order_Type_Cancellarion</targetReference>
            </connector>
            <label>Is RMA Order</label>
        </rules>
    </decisions>
    <description>BIZ-65655 RMA Orders addresses update
Updated BIZ-64684 to populate subsidiary from Quote Subsidiary
Updating Order fields related to Shipping and Billing with Quote fields. BIZ-47699,BIZ-48699, BIZ-51309
Anusha : Updated to populate address lookups (BIZ-60096)
BIZ-67907 - new logic to iterate through OrderProducts and get the latest End Date from Order Products
BIZ-66419 - Bypass flow logic
BIZ-73180: Added Contract Number changes</description>
    <environments>Default</environments>
    <formulas>
        <description>Created to update the end date of contract</description>
        <name>Enddatevalue</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.SBQQ__Quote__r.SBQQ__StartDate__c},{!$Record.SBQQ__Quote__r.SBQQ__SubscriptionTerm__c})-1</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>isNew()</expression>
    </formulas>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Order : Before Insert Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order : Before Insert Update</label>
    <loops>
        <name>Address_Loop</name>
        <label>Address Loop</label>
        <locationX>182</locationX>
        <locationY>803</locationY>
        <collectionReference>Get_Address_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Default_Billing_Address_true</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Orders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Address_Records</name>
        <label>Get Address Records</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Address_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Default_Billing_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Default_Shipping_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Products</name>
        <label>Get Order Products</label>
        <locationX>864</locationX>
        <locationY>1103</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_we_have_Order_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <sortField>EndDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAssociatedOrders</name>
        <label>getAssociatedOrders</label>
        <locationX>710</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subscription_or_Positive_Un_Contracted_Order_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NS_Order_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>T&amp;M</stringValue>
            </value>
        </filters>
        <filters>
            <field>Order_Amount__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Contracted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>732</locationX>
        <locationY>1319</locationY>
        <connector>
            <targetReference>Check_Start_Date</targetReference>
        </connector>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>Get_Order_Products.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Orders</name>
        <label>Update Orders</label>
        <locationX>182</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Check_RMA_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>Billing_Addressee__c</field>
            <value>
                <elementReference>Billing_Addressee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Attention__c</field>
            <value>
                <elementReference>Billing_Attention</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Phone__c</field>
            <value>
                <elementReference>Billing_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address__c</field>
            <value>
                <elementReference>Shipping_Addressee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Attention__c</field>
            <value>
                <elementReference>Shipping_Attention</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Phone__c</field>
            <value>
                <elementReference>Shipping_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>397</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New_Order</targetReference>
        </connector>
        <filterFormula>NOT({!$Setup.Automation_Controls__c.Active__c} 
&amp;&amp; {!$Setup.Automation_Controls__c.Bypass_Flows__c} 
&amp;&amp; {!$Setup.Automation_Controls__c.Order_Bypass__c} 
&amp;&amp; (
	ISBLANK({!$Setup.Automation_Controls__c.Data_Id__c}) 
	|| (
		NOT(ISBLANK({!$Setup.Automation_Controls__c.Data_Id__c})) 
		&amp;&amp; CONTAINS({!$Setup.Automation_Controls__c.Data_Id__c}, {!$Record.Id})
	)
))</filterFormula>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Billing_Addressee</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Billing_Attention</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Billing_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderHistory</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderHistory</objectType>
    </variables>
    <variables>
        <name>Shipping_Addressee</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Shipping_Attention</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Shipping_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
