force-app/main/default/flows/QL_OP4I_Deal_Line_ID_Null_Event_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>OP4I_Deal_Line_ID_is_Null</name>
        <label>OP4I Deal Line ID is Null</label>
        <locationX>272</locationX>
        <locationY>379</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_Line_Field_OP4I_Deal_Line_ID_is_Null</name>
            <conditionLogic>1 AND (2 OR 3) AND (4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OP4I_Deal_Line_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>APIUser</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BizAppUser</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__SubscriptionTerm__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>48.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Event_Record</targetReference>
            </connector>
            <label>Quote Line Field OP4I Deal Line ID is Null</label>
        </rules>
    </decisions>
    <description>Collect Quote line records if Filed OP4I Deal Line ID is null</description>
    <interviewLabel>QL OP4I Deal Line ID Null Event Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QL OP4I Deal Line ID Null Event Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Event_Record</name>
        <label>Create Event Record</label>
        <locationX>498</locationX>
        <locationY>366</locationY>
        <inputAssignments>
            <field>QuoteLineID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OP4I_Deal_ID__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <object>SBQQ__QuoteLine__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Process_Starts_2_minute_after</name>
            <connector>
                <targetReference>OP4I_Deal_Line_ID_is_Null</targetReference>
            </connector>
            <label>Process Starts 1 minute after</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>APIUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0055C000003HUmTQAW</stringValue>
        </value>
    </variables>
    <variables>
        <name>BizAppUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00550000007h2moAAA</stringValue>
        </value>
    </variables>
</Flow>
