force-app/main/default/flows/Quote_Document_Before_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>required_to_update_quote_version</name>
        <label>required to update quote version</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Version__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>15</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Quote_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finalize OSA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_quote_version</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Built as per BIZ-53348 ; to update the quote Version as per requirments
BIZ-54093 : Updated Quote stage validation</description>
    <environments>Default</environments>
    <formulas>
        <name>VersionNew</name>
        <dataType>String</dataType>
        <expression>TEXT(VALUE(TEXT({!$Record.SBQQ__Quote__r.Version__c})) +1 )</expression>
    </formulas>
    <interviewLabel>Quote Document Before Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Document Before Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_quote_version</name>
        <label>Update quote version</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Version__c</field>
            <value>
                <elementReference>VersionNew</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>required_to_update_quote_version</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00550000007h2moAAA</stringValue>
            </value>
        </filters>
        <object>SBQQ__QuoteDocument__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
