force-app/main/default/flows/Quote_After_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Quote_details_to_OP4I</name>
        <label>Send Quote details to OP4I</label>
        <locationX>3218</locationX>
        <locationY>384</locationY>
        <actionName>QuotePayloadFlowClass</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>quoteIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>QuotePayloadFlowClass</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Quote_Currency</name>
        <label>Assign Quote Currency</label>
        <locationX>974</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>oppcurrencycode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignOSAValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignOSAValue</name>
        <label>assignOSAValue</label>
        <locationX>974</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>osaAutoNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OP4I_Contract_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkQuoteType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Account_Currency</name>
        <label>Update Account Currency</label>
        <locationX>710</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>oppcurrencycode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Account__r.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignOSAValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opp_currency</name>
        <label>Update Opp currency</label>
        <locationX>1238</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>oppcurrencycode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignOSAValue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Pause_Payload</name>
        <label>Check Pause Payload</label>
        <locationX>3350</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pause_Quote_Payload__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Quote_details_to_OP4I</targetReference>
            </connector>
            <label>Is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_quote_if_quote_is_Auto_renewal</name>
        <label>Check quote if quote is Auto renewal</label>
        <locationX>2822</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Autorenewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Renewal_Quote_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auto-Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Autorenewal_Quote</targetReference>
            </connector>
            <label>If Autorenewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkQuoteType</name>
        <label>checkQuoteType</label>
        <locationX>974</locationX>
        <locationY>684</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NewSales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateQuote</targetReference>
            </connector>
            <label>.NewSales</label>
        </rules>
        <rules>
            <name>Amendment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateQuoteAmendment</targetReference>
            </connector>
            <label>Amendment</label>
        </rules>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkRenewalQuoteType</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkRenewalQuoteType</name>
        <label>checkRenewalQuoteType</label>
        <locationX>1172</locationX>
        <locationY>792</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AutoRenewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Renewal_Quote_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auto-Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateQuoteRenewal1</targetReference>
            </connector>
            <label>AutoRenewal</label>
        </rules>
        <rules>
            <name>RenewalChanges</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Renewal_Quote_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal-Changes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateQuoteRenewal2</targetReference>
            </connector>
            <label>RenewalChanges</label>
        </rules>
        <rules>
            <name>Consolidated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Renewal_Quote_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consolidated-Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateQuoteRenewal3</targetReference>
            </connector>
            <label>Consolidated</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Account_currency</name>
        <label>If Account currency</label>
        <locationX>974</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Update_Opp_currency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Account_currency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Account__r.CurrencyIsoCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Currency</targetReference>
            </connector>
            <label>Check Account currency</label>
        </rules>
        <rules>
            <name>Quote_Currency_is_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Quote_Currency</targetReference>
            </connector>
            <label>Quote Currency is  present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Renewal_Change</name>
        <label>Is Renewal Change?</label>
        <locationX>2294</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Renewal_Quote_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal-Changes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Auto_Renewal</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>OSA_Number_Null_Check</name>
        <label>OSA Number Null Check</label>
        <locationX>710</locationX>
        <locationY>1008</locationY>
        <defaultConnector>
            <targetReference>Update_OSA_Number_From_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OSA_Number_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.OSA_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_OSA_Number_From_Contract</targetReference>
            </connector>
            <label>OSA Number Not Null</label>
        </rules>
    </decisions>
    <description>BIZ-65425 Remove Billing frequency and payment terms from original order
This will calculate OSA Number reference on Quote. Created as part of BIZ-47720,BIZ-50998
Merged the flows to follow the standards. 
Updated flow to create renewal letters for only Autorenewals.BIZ-48829
Added logic to create a Deal Velocity case - BIZ-47666
Update Contract Months and First Segment months-BIZ-49068
Update Subsidiary for Renewal Quote BIZ-49267
Added scheduled path to calculate tax &amp; create Renewal letter
Set Op4iDealId on Renewal Quote.BIZ-50017- Data Model Changes to OSA.
BIZ-49393, 
OP4i Sales Segment Mapping for Renewal and Amenede Quotes BIZ-49780
BIZ-61797 Tax calculating properly but not included in Renewal Letter document..
BIZ-66415 - Added the Bypass Logic
BIZ-74649 - Send delayed payload for ghost quote</description>
    <environments>Default</environments>
    <formulas>
        <name>caseSubject</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} +&apos; &apos;+  &apos;Deal Velocity&apos;</expression>
    </formulas>
    <interviewLabel>Quote: After Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote: After Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Auto_Renewal</name>
        <label>Get Auto-Renewal</label>
        <locationX>2162</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Renewal_Change_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Opportunity2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Renewal_Quote_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Auto-Renewal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Autorenewal_Quote</name>
        <label>Update Autorenewal Quote</label>
        <locationX>2690</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>AVA_SFCPQ__Quote_AutomateTaxCalculation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OSA_Number_From_Contract</name>
        <label>Update OSA Number From Contract</label>
        <locationX>578</locationX>
        <locationY>1116</locationY>
        <inputAssignments>
            <field>OSA_Number__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.OSA_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OSA_Number_From_Quote</name>
        <label>Update OSA Number From Quote</label>
        <locationX>842</locationX>
        <locationY>1116</locationY>
        <inputAssignments>
            <field>OSA_Number__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__r.OSA_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Renewal_Change_Quote</name>
        <label>Update Renewal Change Quote</label>
        <locationX>2162</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Bill_To_Address__c</field>
            <value>
                <elementReference>Get_Auto_Renewal.Bill_To_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoicing_Contact__c</field>
            <value>
                <elementReference>Get_Auto_Renewal.Invoicing_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PrimaryContact__c</field>
            <value>
                <elementReference>Get_Auto_Renewal.SBQQ__PrimaryContact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Address__c</field>
            <value>
                <elementReference>Get_Auto_Renewal.Ship_To_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Software_Delivery_Contact__c</field>
            <value>
                <elementReference>Get_Auto_Renewal.Software_Delivery_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateQuote</name>
        <label>updateQuote</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <inputAssignments>
            <field>OSA_Number__c</field>
            <value>
                <elementReference>osaAutoNumber</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateQuoteAmendment</name>
        <label>updateQuoteAmendment</label>
        <locationX>314</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>updateRelatedOpty_0</targetReference>
        </connector>
        <inputAssignments>
            <field>OP4I_Sales_Segment__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.SBQQ__Quote__r.OP4I_Sales_Segment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OSA_Number__c</field>
            <value>
                <elementReference>$Record.SBQQ__MasterContract__r.OSA_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_OSA_Number__c</field>
            <value>
                <elementReference>$Record.SBQQ__MasterContract__r.SBQQ__Quote__r.OSA_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateQuoteRenewal1</name>
        <label>updateQuoteRenewal</label>
        <locationX>710</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>OSA_Number_Null_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>First_Segment_Months__c</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Free_Months__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoicing_Contact__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.Invoicing_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OP4IDealID__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.OP4I_Deal_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OP4I_Sales_Segment__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__r.OP4I_Sales_Segment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__OriginalQuote__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionTerm__c</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Software_Delivery_Contact__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__r.Software_Delivery_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsidiary__c</field>
            <value>
                <elementReference>$Record.SBQQ__OriginalQuote__r.Subsidiary__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateQuoteRenewal2</name>
        <label>updateQuoteRenewal</label>
        <locationX>1106</locationX>
        <locationY>900</locationY>
        <inputAssignments>
            <field>First_Segment_Months__c</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Free_Months__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoicing_Contact__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.Invoicing_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OP4IDealID__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.OP4I_Deal_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OP4I_Sales_Segment__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__r.OP4I_Sales_Segment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OSA_Number__c</field>
            <value>
                <elementReference>osaAutoNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_OSA_Number__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__r.OSA_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__OriginalQuote__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionTerm__c</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Software_Delivery_Contact__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__r.Software_Delivery_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsidiary__c</field>
            <value>
                <elementReference>$Record.SBQQ__OriginalQuote__r.Subsidiary__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateQuoteRenewal3</name>
        <label>updateQuoteRenewal</label>
        <locationX>1370</locationX>
        <locationY>900</locationY>
        <inputAssignments>
            <field>First_Segment_Months__c</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Free_Months__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoicing_Contact__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.Invoicing_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OP4IDealID__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.OP4I_Deal_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OP4I_Sales_Segment__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__r.OP4I_Sales_Segment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OSA_Number__c</field>
            <value>
                <elementReference>osaAutoNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingFrequency__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.BillingFrequency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__OriginalQuote__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PaymentTerms__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Order__r.SBQQ__PaymentTerm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionTerm__c</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Software_Delivery_Contact__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__r.Software_Delivery_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsidiary__c</field>
            <value>
                <elementReference>$Record.SBQQ__OriginalQuote__r.Subsidiary__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateRelatedOpty_0</name>
        <label>updateRelatedOpty</label>
        <locationX>314</locationX>
        <locationY>900</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Associated_Contract_OSA__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Associated_Contract_OSA__c</field>
            <value>
                <elementReference>$Record.Contract__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>2036</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Account_currency</targetReference>
        </connector>
        <filterFormula>NOT({!$Setup.Automation_Controls__c.Active__c} 
&amp;&amp; {!$Setup.Automation_Controls__c.Bypass_Flows__c} 
&amp;&amp; {!$Setup.Automation_Controls__c.Quote_Bypass__c} 
&amp;&amp; (
    ISBLANK({!$Setup.Automation_Controls__c.Data_Id__c}) 
    || (
        NOT(ISBLANK({!$Setup.Automation_Controls__c.Data_Id__c})) 
        &amp;&amp; CONTAINS({!$Setup.Automation_Controls__c.Data_Id__c}, {!$Record.Id})
    )
))</filterFormula>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Is_Renewal_Change</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <scheduledPaths>
            <name>After_5_min</name>
            <connector>
                <targetReference>Check_quote_if_quote_is_Auto_renewal</targetReference>
            </connector>
            <label>After 5 min</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Send_Delayed_Payload</name>
            <connector>
                <targetReference>Check_Pause_Payload</targetReference>
            </connector>
            <label>Send Delayed Payload</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>40</triggerOrder>
    <variables>
        <name>oppcurrencycode</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>osaAutoNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteLineUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>QuoteLineUpdateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>varDealVelocityRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
