force-app/main/default/flows/Quote_Approval_Changes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_approver_records_to_quote</name>
        <label>Assign approver records to quote</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Segment_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approver_Matrix.Sales_Segment_Lead_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Services_Segment_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approver_Matrix.Services_Segment_Lead_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Industry_Sales_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approver_Matrix.Industry_Sales_Lead_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.COO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approver_Matrix.COO_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Industry_President__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approver_Matrix.Industry_President_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SVP_Services__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approver_Matrix.SVP_Services_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Services_Segment_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approver_Matrix.Services_Segment_Lead_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SVP_Finance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approver_Matrix.SVP_Finance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CPO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approver_Matrix.CPO_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ACV_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_CRO_for_greater_than_10K</name>
        <label>Set CRO for greater than 10K</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.CRO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approver_Matrix.CRO_Approver_ACV_10000__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_CRO_for_Less_than_10K</name>
        <label>Set CRO for Less than 10K</label>
        <locationX>314</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.CRO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approver_Matrix.CRO_Approver__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>ACV_Check</name>
        <label>ACV Check</label>
        <locationX>182</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Set_CRO_for_Less_than_10K</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ACV_10000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Deal_ACV__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_CRO_for_greater_than_10K</targetReference>
            </connector>
            <label>ACV &gt;= 10000</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_Segment_Update</name>
        <label>Sales Segment Update</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Segment_Update_name</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OP4I_Sales_Segment__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deal_ACV__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Approver_Matrix</targetReference>
            </connector>
            <label>Sales Segment Update name</label>
        </rules>
    </decisions>
    <description>Adding the ACV to the entry condition
BIZ-66415 - Added the Bypass Logic</description>
    <environments>Default</environments>
    <formulas>
        <name>Isnew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Quote - Approval Changes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - Approval Changes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Approver_Matrix</name>
        <label>Get Approver Matrix</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_approver_records_to_quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Segment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OP4I_Sales_Segment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Approvers_Matrix__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Sales_Segment_Update</targetReference>
        </connector>
        <filterFormula>NOT(
        {!$Setup.Automation_Controls__c.Active__c} &amp;&amp;
        {!$Setup.Automation_Controls__c.Bypass_Flows__c} &amp;&amp;
        {!$Setup.Automation_Controls__c.Quote_Bypass__c} &amp;&amp;
        (
            ISBLANK({!$Setup.Automation_Controls__c.Data_Id__c}) || 
            (
                NOT(ISBLANK({!$Setup.Automation_Controls__c.Data_Id__c})) &amp;&amp;
                CONTAINS({!$Setup.Automation_Controls__c.Data_Id__c}, {!$Record.Id})
            )
        )
    )</filterFormula>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
