force-app/main/default/flows/Quote_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Pending_Closure_Email_Alert</name>
        <label>Pending Closure Email Alert</label>
        <locationX>116</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_Consolidated_Quote</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Email_for.Value__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>donotreplynpi@intapp.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>PendingClosureEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>PendingClosureTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_opportunity_Id_List</name>
        <label>Add to opportunity Id List</label>
        <locationX>204</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>OpportunityIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Consolidated_contracts_loop.SBQQ__RenewalOpportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Consolidated_contracts_loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_ACV_Type</name>
        <label>Check ACV Type</label>
        <locationX>248</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>Check_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ACV_Type_Changed</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACV_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NS_Order_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ACV_on_Opportunity</targetReference>
            </connector>
            <label>ACV Type Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Consolidated_Quote</name>
        <label>Check Consolidated Quote</label>
        <locationX>248</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Check_ACV_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consolidated_Quote</name>
            <conditionLogic>(1 AND 3 AND (2 OR 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Renewal_Quote_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consolidated-Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Ordered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Consolidated_Contracts</targetReference>
            </connector>
            <label>Consolidated Quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opportunity</name>
        <label>Check Opportunity</label>
        <locationX>336</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Consolidated_contracts_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Consolidated_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Consolidated_contracts_loop.SBQQ__RenewalOpportunity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_opportunity_Id_List</targetReference>
            </connector>
            <label>Not Consolidated Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quote</name>
        <label>Check Quote New</label>
        <locationX>248</locationX>
        <locationY>1931</locationY>
        <defaultConnector>
            <targetReference>Quote_Stage_Changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SBQQ__Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Renewal_Quote_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auto-Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Renewal_Letter</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Stage_Changes</name>
        <label>Quote Stage Changes</label>
        <locationX>446</locationX>
        <locationY>2039</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_Stage_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quote_Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRelatedCase</targetReference>
            </connector>
            <label>Quote Stage Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_changed_to_Pending_Closure</name>
        <label>Stage changed to Pending Closure?</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_Consolidated_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_for.Value__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quote_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Closure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quote_Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_Closure_Email_Alert</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>Added condition to update only Software quote lines. 
To update ACV Type and NS order Type - Modified as part of BIZ-46894
Update consolidated renewal opportunity to superseded. Added as part of BIZ-47578, BIZ-48120,BIZ-50017
refactor code
BIZ-62048 Receive notifications in two specific lists related to pending closures
BIZ-65428 Billing Schedule - Issue with Billing frequency in QuoteLines of new sale Quote for Year 1 and Year2
BIZ-66415 - Added the Bypass Logic</description>
    <environments>Default</environments>
    <formulas>
        <name>PendingClosureEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Quote for &quot; +{!$Record.SBQQ__Account__r.Name}  + &quot; Is Now in Pending Closure&quot;</expression>
    </formulas>
    <formulas>
        <name>SalesforceUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <interviewLabel>Quote After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote After Update</label>
    <loops>
        <name>Consolidated_contracts_loop</name>
        <label>Consolidated contracts loop</label>
        <locationX>116</locationX>
        <locationY>947</locationY>
        <collectionReference>Get_Consolidated_Contracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Opportunity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Consolidated_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Consolidated_Contracts</name>
        <label>Get Consolidated Contracts</label>
        <locationX>116</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Consolidated_contracts_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Consolidated_Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_for</name>
        <label>Get Email for Sub verical</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stage_changed_to_Pending_Closure</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sub_Vertical__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Generic_Key_Value_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ACV_on_Opportunity</name>
        <label>Update ACV on Opportunity</label>
        <locationX>116</locationX>
        <locationY>1739</locationY>
        <connector>
            <targetReference>Check_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ACV_Type__c</field>
            <value>
                <elementReference>$Record.ACV_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NS_Order_Type__c</field>
            <value>
                <elementReference>$Record.NS_Order_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Consolidated_Opportunities</name>
        <label>Update Consolidated Opportunities</label>
        <locationX>116</locationX>
        <locationY>1439</locationY>
        <connector>
            <targetReference>Check_ACV_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>OpportunityIdList</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed - Superseded By New Contract</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Renewal_Letter</name>
        <label>Update Renewal Letter</label>
        <locationX>50</locationX>
        <locationY>2039</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Renewal_Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Proforma_Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Deal Velocity Case status</description>
        <name>UpdateRelatedCase</name>
        <label>UpdateRelatedCase</label>
        <locationX>314</locationX>
        <locationY>2147</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deal Velocity</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record.Quote_Stage__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Email_for</targetReference>
        </connector>
        <filterFormula>AND(
    NOT(
        {!$Setup.Automation_Controls__c.Active__c} &amp;&amp;
        {!$Setup.Automation_Controls__c.Bypass_Flows__c} &amp;&amp;
        {!$Setup.Automation_Controls__c.Quote_Bypass__c} &amp;&amp;
        (
            ISBLANK({!$Setup.Automation_Controls__c.Data_Id__c}) || 
            (
                NOT(ISBLANK({!$Setup.Automation_Controls__c.Data_Id__c})) &amp;&amp;
                CONTAINS({!$Setup.Automation_Controls__c.Data_Id__c}, {!$Record.Id})
            )
        )
    ),
    NOT(ISCHANGED({!$Record.Version__c})),
    NOT(ISBLANK({!$Record.Id}))
)</filterFormula>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>NotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Quote {!$Record.Name} has been assigned to you for approval.</text>
    </textTemplates>
    <textTemplates>
        <name>PendingClosureTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;The following Quote&amp;nbsp;{!$Record.Name} for {!$Record.SBQQ__Account__r.Name} has moved to Pending Closure. Please review.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Salesforce Link: &lt;/span&gt;&lt;a href=&quot;{!SalesforceUrl}{!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!$Record.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;OP4I Deal Link: &lt;/span&gt;&lt;a href=&quot;{!$Label.OP4I_Deal_Link}{!$Record.OP4IDealID__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!$Record.OP4IDealID__c}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <triggerOrder>60</triggerOrder>
    <variables>
        <name>OpportunityIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQuoteStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
