force-app/main/default/flows/Quote_Submit_for_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_For_OP4I_Sales_Segment_and_Approver_Fields</name>
        <label>Check For OP4I Sales Segment and Approver Fields</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Special_Approvers_and_Approval_Status_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OP4I_Sales_Segment_and_Approver_Fields_Check</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.OP4I_Sales_Segment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.COO__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.CRO__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Industry_Sales_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Segment_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Services_Segment_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SVP_Services__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OP4i_Sales_Segment_and_Approver_Field_Error</targetReference>
            </connector>
            <label>OP4I Sales Segment and Approver Fields Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_pending_governance</name>
        <label>check for pending governance</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>OSA_Required_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_quote_has_pending_governance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Pending_Governance_Fr__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_message_for_pending_Governance</targetReference>
            </connector>
            <label>Check if quote has pending governance</label>
        </rules>
    </decisions>
    <decisions>
        <description>Developed as apart of BIZ-48204</description>
        <name>Check_for_Quote_Stage</name>
        <label>Check for Quote Stage</label>
        <locationX>666</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_stage_OSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Quote_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finalize OSA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_for_pending_governance</targetReference>
            </connector>
            <label>Check for stage OSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SOW</name>
        <label>Check SOW</label>
        <locationX>578</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Update_quote_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SOW_not_checked</name>
            <conditionLogic>((1 OR 2 OR 3 OR 4 OR 5 OR 6) AND (7))</conditionLogic>
            <conditions>
                <leftValueReference>Service_Payment_Term</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Milestone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service_Payment_Term</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service_Payment_Term</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service_Payment_Term</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T&amp;M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service_Payment_Term</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service_Payment_Term</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blended FF_T&amp;M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SOW_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PSOps Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_SCreen</targetReference>
            </connector>
            <label>SOW not checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Special_Approvers_and_Approval_Status_Check</name>
        <label>Special Approvers and Approval Status Check</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Check_SOW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Special_Approvers_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Use_Special_Approvers__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AdditionalApprover1Formula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AdditionalApprover2Formula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AdditionalApprover3Formula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AdditionalApproverGroupFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AdditionalApprover4Formula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AdditionalApprover5Formula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AdditionalApprover6Formula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorForSpecialApprovers</targetReference>
            </connector>
            <label>Special Approvers Check</label>
        </rules>
        <rules>
            <name>Approval_Status_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message_for_Approval_Status</targetReference>
            </connector>
            <label>Approval Status Check</label>
        </rules>
    </decisions>
    <description>BIZ-48107 Automate governance and approval related requirements
Updated Add validation for MSSA and SOW checkbox as part of BIZ-48776.
Line of business added as per BIZ-49662.
Modified error message as part of BIZ-50735
Modified Component visibility as part of BIZ-51471
Modified to remove SOW Document Attatched field reference as per BIZ-50639
Updated for Governance logic
Updated to remove MSSA Validation as per BIZ-53611
Updated to remove Pricing Proposal reference BIZ-61359
Remove approval popup  BIZ-65051
Added Additional Approver Group field validation as part of BIZ-70632
BIZ-70329 : Added new Additional Approver fields for Special Approver error checks</description>
    <dynamicChoiceSets>
        <name>Contractmasterterm</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contract_Master_Terms__c</picklistField>
        <picklistObject>SBQQ__Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LineofBusiness</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Line_of_Business__c</picklistField>
        <picklistObject>SBQQ__Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Servicepaymentterm1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Services_Terms__c</picklistField>
        <picklistObject>SBQQ__Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Software</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBQQ__BillingFrequency__c</picklistField>
        <picklistObject>SBQQ__Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>softwarepaymentterm</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Software_Payment_Terms__c</picklistField>
        <picklistObject>SBQQ__Quote__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AdditionalApprover1Formula</name>
        <dataType>String</dataType>
        <expression>{!recordId.Additional_Approver__r.Id}</expression>
    </formulas>
    <formulas>
        <name>AdditionalApprover2Formula</name>
        <dataType>String</dataType>
        <expression>{!recordId.Additional_Approver_2__r.Id}</expression>
    </formulas>
    <formulas>
        <name>AdditionalApprover3Formula</name>
        <dataType>String</dataType>
        <expression>{!recordId.Additional_Approver_3__r.Id}</expression>
    </formulas>
    <formulas>
        <name>AdditionalApprover4Formula</name>
        <dataType>String</dataType>
        <expression>{!recordId.Additional_Approver_4__r.Id}</expression>
    </formulas>
    <formulas>
        <name>AdditionalApprover5Formula</name>
        <dataType>String</dataType>
        <expression>{!recordId.Additional_Approver_5__r.Id}</expression>
    </formulas>
    <formulas>
        <name>AdditionalApprover6Formula</name>
        <dataType>String</dataType>
        <expression>{!recordId.Additional_Approver_6__r.Id}</expression>
    </formulas>
    <formulas>
        <name>AdditionalApproverGroupFormula</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK(TEXT({!recordId.Additional_Approver_Group__c}))</expression>
    </formulas>
    <interviewLabel>Quote - Submit for Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - Submit for Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_quote_record</name>
        <label>Update quote record</label>
        <locationX>578</locationX>
        <locationY>1358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finalize OSA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bill_To_Account__c</field>
            <value>
                <elementReference>BilltoAccount1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Address__c</field>
            <value>
                <elementReference>BilltoAddress1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Master_Terms__c</field>
            <value>
                <elementReference>Contract_Master_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingFrequency__c</field>
            <value>
                <elementReference>Software_Billing_frequency_1st_year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ExpirationDate__c</field>
            <value>
                <elementReference>Expires_On</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__StartDate__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Services_Terms__c</field>
            <value>
                <elementReference>Service_Payment_Term</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Account__c</field>
            <value>
                <elementReference>ShiptoAccount1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Address__c</field>
            <value>
                <elementReference>ShiptoAddress.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Software_Payment_Terms__c</field>
            <value>
                <elementReference>Software_Days_Payment_Due_Net_x_1st_Yr</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <screens>
        <name>Error_Message_for_Approval_Status</name>
        <label>Error Message for Approval Status</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_SOW</targetReference>
        </connector>
        <fields>
            <name>Error_Message_For_Quote_Approval_Status</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Please recall the submitted approvals and try again&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_message_for_pending_Governance</name>
        <label>Error message for pending Governance</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errormessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Approvals cannot be submitted before Account/ Address Governance is completed&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>displaydetail</name>
            <extensionName>c:governanceChecklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorForSpecialApprovers</name>
        <label>ErrorForSpecialApprovers</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_SOW</targetReference>
        </connector>
        <fields>
            <name>Error_Message_for_special_approvers</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 16px;&quot;&gt;At least one of the additional approver fields should be populated to use special approvers&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OP4i_Sales_Segment_and_Approver_Field_Error</name>
        <label>OP4i Sales Segment and Approver Field Error</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Special_Approvers_and_Approval_Status_Check</targetReference>
        </connector>
        <fields>
            <name>Error_Message_Approver_Fields</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Please choose a valid sales segment to continue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OSA_Required_Field</name>
        <label>OSA Required Field</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_For_OP4I_Sales_Segment_and_Approver_Fields</targetReference>
        </connector>
        <fields>
            <name>OSA_Required_Field_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>OSA_Required_Field_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contract_Master_Label</name>
                    <choiceReferences>Contractmasterterm</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Contract_Master_Terms__c</elementReference>
                    </defaultValue>
                    <fieldText>Contract Master Term</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Software_Days_Payment_Due_Net_x_1st_Yr</name>
                    <choiceReferences>softwarepaymentterm</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Software_Payment_Terms__c</elementReference>
                    </defaultValue>
                    <fieldText>Software Days Payment Due (Net x,1st Yr)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Expires_On</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>recordId.SBQQ__ExpirationDate__c</elementReference>
                    </defaultValue>
                    <fieldText>Expires On</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>BilltoAccount1</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Bill_To_Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>Billtoaccount</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__Quote__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId.Bill_To_Account__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>BilltoAddress1</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Bill_To_Address__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>BilltoAddress</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__Quote__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId.Bill_To_Address__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>OSA_Required_Field_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Software_Billing_frequency_1st_year</name>
                    <choiceReferences>Software</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.SBQQ__BillingFrequency__c</elementReference>
                    </defaultValue>
                    <fieldText>Software Billing frequency (1st year)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>recordId.SBQQ__StartDate__c</elementReference>
                    </defaultValue>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Service_Payment_Term</name>
                    <choiceReferences>Servicepaymentterm1</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Services_Terms__c</elementReference>
                    </defaultValue>
                    <fieldText>Service Payment Term</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>ShiptoAccount1</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Ship_To_Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>ship</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__Quote__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId.Ship_To_Account__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>ShiptoAddress</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Ship_To_Address__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>ShipToAddressc</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__Quote__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId.Ship_To_Address__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Validation_SCreen</name>
        <label>Validation SCreen</label>
        <locationX>446</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_quote_record</targetReference>
        </connector>
        <fields>
            <name>SOW_Document_Attached1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(23, 43, 77); background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif;&quot;&gt;The SOW Status field should be equal to PSOPs Approved prior to Approval Submission. Please request Services Ops to approve the SOW in OP4I/ OpenAir&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.SOW_Status__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>PSOps Approved</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Quote_Stage</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Billtoaccount</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Bill To Account</text>
    </textTemplates>
    <textTemplates>
        <name>BilltoAddress</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Bill to Address</text>
    </textTemplates>
    <textTemplates>
        <name>BillToAddressc</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Bill to Address</text>
    </textTemplates>
    <textTemplates>
        <name>Invoicingcontact</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Invoicing Contact</text>
    </textTemplates>
    <textTemplates>
        <name>ship</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Ship To Account</text>
    </textTemplates>
    <textTemplates>
        <name>ShipToAddressc</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Ship to Address</text>
    </textTemplates>
    <textTemplates>
        <name>SoftwareDeliveryContactc1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Software Delivery Contact</text>
    </textTemplates>
    <variables>
        <name>MSSAValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId.MSSA_Document_Attached__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>SOWValue1</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId.SOW_Document_Attached__c</elementReference>
        </value>
    </variables>
</Flow>
