force-app/main/default/flows/Renewal_Letter_Adjustment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Proceed only if Contract is In Force/Partially Superceded, Opportunity is open, and Quote is primary and not ordered.</description>
        <name>Contract_Opp_Quote_Eligibility</name>
        <label>Contract Opp Quote Eligibility</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Non_Eligible_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Eligible_For_Renewal</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Tax_Status.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Force</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote_Tax_Status.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partially Cancelled or superseded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote_Tax_Status.SBQQ__Opportunity2__r.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote_Tax_Status.SBQQ__Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote_Tax_Status.SBQQ__Ordered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tax_is_getting_calculated</targetReference>
            </connector>
            <label>Eligible For Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tax_is_getting_calculated</name>
        <label>Tax is getting calculated</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Tax_Status.AVA_SFCPQ__AvaTaxMessage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax Amount Is Up To Date</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Regenerate_Renewal_Letter</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>In_process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Tax_Status.AVA_SFCPQ__AvaTaxMessage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Automated Tax Calculation Triggered, Please Refresh Your Browser</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Quote_Tax_Status</targetReference>
            </connector>
            <label>In process</label>
        </rules>
    </decisions>
    <description>Created as part of BIZ-60177
BIZ-62292 - Re-trigger tax calculation before renewal letter adjustment.
BIZ-73705 - Added checks to proceed only if Contract is In Force/Partially Superceded, Opportunity is open, and Quote is primary and not ordered.</description>
    <environments>Default</environments>
    <interviewLabel>Renewal Letter Adjustment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Renewal Letter Adjustment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>BIZ-60083 - After capturing notes/comments from user create a new renewal letter.</description>
        <name>Regenerate_Renewal_Letter</name>
        <label>Regenerate Renewal Letter</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Final_Confirmation</targetReference>
        </connector>
        <inputAssignments>
            <field>Activity_Status__c</field>
            <value>
                <stringValue>Sent Document to Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_Quote_Tax_Status.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes_Comments__c</field>
            <value>
                <elementReference>Notes_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Quote__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Start_Date__c</field>
            <value>
                <elementReference>Get_Quote_Tax_Status.SBQQ__StartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_Immediately__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Initiated</stringValue>
            </value>
        </inputAssignments>
        <object>Proforma_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Quote_Tax_Status</name>
        <label>Get Quote Tax Status</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_Opp_Quote_Eligibility</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Calculate_Tax</name>
        <label>Calculate Tax</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Renewal_Letter_Adjustment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AVA_SFCPQ__AvaTaxMessage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Automated Tax Calculation Triggered, Please Refresh Your Browser</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AVA_SFCPQ__Quote_AutomateTaxCalculation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;The tax calculation process encountered an issue. The renewal letter and proforma invoice will not be generated or sent. You may retry the process later or contact an administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Confirmation</name>
        <label>Final Confirmation</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfirmationText</name>
            <fieldText>&lt;p&gt;Your new renewal letter has successfully been generated and will be sent to the Invoicing Contact.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Introduction_Text</name>
        <label>Introduction Text</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Calculate_Tax</targetReference>
        </connector>
        <fields>
            <name>Introduction</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;This Renewal Letter Adjustment process flow will complete the following steps: &lt;ul&gt;&lt;li&gt;&lt;strong&gt;Tax Recalculation&lt;/strong&gt; – This ensures any taxable adjustments made since initial creation of the quote are included on the proforma invoice.&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Existing Renewal Letter Cancellation&lt;/strong&gt; – Any existing renewal letter will be canceled to avoid duplications.&lt;/li&gt;&lt;li&gt;&lt;strong&gt;New Renewal Letter Generation&lt;/strong&gt;: A new renewal letter record will be generated.&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Proforma Invoice Dispatch&lt;/strong&gt;: A new proforma invoice document will be generated and sent to the customer.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Non_Eligible_Screen</name>
        <label>Non Eligible Screen</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Non_Eligible_Message</name>
            <fieldText>&lt;p&gt;Renewal Letter cannot be adjusted if Opportunity is closed or Contract is not In Force or Partially Superseded&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Renewal_Letter_Adjustment</name>
        <label>Renewal Letter Adjustment</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Tax_calculation_status_check</targetReference>
        </connector>
        <fields>
            <name>Notes_Comments</name>
            <fieldText>Please provide a brief description of adjustments, such as rate changes, service updates, or period adjustments.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Tax_calculation_status_check</name>
        <label>Tax calculation status check</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Quote_Tax_Status</targetReference>
        </connector>
        <fields>
            <name>CheckStatusText</name>
            <fieldText>&lt;p&gt;Click Check Status to refresh the tax calculation status. Please wait if the status is not yet updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Check Status</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Introduction_Text</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>QuoteDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <description>The Renewal Letter adjustment process is complete and the new Renewal Letter has been sent to the customer.</description>
        <name>SuccessMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>The Renewal Letter adjustment process is complete and the new Renewal Letter has been sent to the customer.</stringValue>
        </value>
    </variables>
</Flow>
