force-app/main/default/flows/Service_Schedule_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check</name>
        <label>Check Last Day Of Month</label>
        <locationX>491</locationX>
        <locationY>352</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Last_day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Today</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LastDayOfMonth</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Latest_Service_Invoice_Batch__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_project_record</targetReference>
            </connector>
            <label>If Last day</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LastDayOfMonth</name>
        <dataType>Date</dataType>
        <expression>IF( MONTH(TODAY()) = 12, 
DATE( YEAR(TODAY()), 12, 31 ), 
DATE( YEAR(TODAY()), MONTH(TODAY()) + 1, 1) - 1)</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Service Schedule Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Schedule Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_project_record</name>
        <label>Update project record</label>
        <locationX>629</locationX>
        <locationY>349</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Send_Invoice_for_this_month__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Send_Invoice_for_this_month__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Latest_Service_Invoice_Batch__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SFDC_Services_Project__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-12-31</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
