Doc/force-app/main/default/flows/Case_Before_Insert_And_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Contract_Management_Id</name>
        <label>Assign Contract Management Id</label>
        <locationX>424</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>ContractManagementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Deal_Managament_Id</name>
        <label>Assign Deal Managament Id</label>
        <locationX>688</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>DealManagementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Status</name>
        <label>Set Opportunity Status</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Request_OSA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Request_OSA_As_True</name>
        <label>Set Request OSA As True</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Request_OSA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Contract_Request_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OSA_Instructions_Changes__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Account_Id</name>
        <label>Update Account Id</label>
        <locationX>336</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Queue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_OSA_Support</name>
        <label>Check OSA Support</label>
        <locationX>600</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OSA_Support_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OSA_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>OSA Support Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkCaseType</name>
        <label>checkCaseType</label>
        <locationX>336</locationX>
        <locationY>2255</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_Is_Contract_Management</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contracts Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deal_Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_CM</targetReference>
            </connector>
            <label>Owner Is Contract Management</label>
        </rules>
        <rules>
            <name>Owner_Is_Deal_Management</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deal Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contracts_Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_DM</targetReference>
            </connector>
            <label>Owner Is Deal Management</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkQueue</name>
        <label>checkQueue</label>
        <locationX>688</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>Iterate_Over_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_Management_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Over_Queue.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contracts_Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contract_Management_Id</targetReference>
            </connector>
            <label>Contract Management Queue</label>
        </rules>
        <rules>
            <name>Deal_Management_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Over_Queue.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deal_Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Deal_Managament_Id</targetReference>
            </connector>
            <label>Deal Management Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_and_Case_Status</name>
        <label>Opportunity and Case Status</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Set_Request_OSA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Same</defaultConnectorLabel>
        <rules>
            <name>Not_Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Opportunity.Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_Status</targetReference>
            </connector>
            <label>Not Same</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Record</name>
        <label>Opportunity Record?</label>
        <locationX>336</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_and_Case_Status</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Request_OSA</name>
        <label>Set Request OSA</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Payment Adjustment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Request_OSA_As_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Created as part of BIZ-50210, to populate account name
BIZ-51810:Update respective Opportunity Status with Case Status value.
BIZ-72861:Added logic to update Opportunity.Request_OSA__c to True</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Case - Before Insert And Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Before Insert And Update</label>
    <loops>
        <name>Iterate_Over_Queue</name>
        <label>Iterate Over Queue</label>
        <locationX>336</locationX>
        <locationY>1763</locationY>
        <collectionReference>get_Queue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkQueue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkCaseType</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>336</locationX>
        <locationY>1439</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote__r.SBQQ__Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote__r.SBQQ__Opportunity2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Queue</name>
        <label>get Queue</label>
        <locationX>336</locationX>
        <locationY>1655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Queue</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 )</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contracts_Management</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deal_Management</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <inputReference>Get_Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_CM</name>
        <label>Update to CM</label>
        <locationX>72</locationX>
        <locationY>2363</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ContractManagementId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_DM</name>
        <label>Update to DM</label>
        <locationX>336</locationX>
        <locationY>2363</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>DealManagementId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>474</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_OSA_Support</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName}=&apos;OSA_Support&apos;</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContractManagementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DealManagementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
