Doc/force-app/main/default/flows/Contract_After_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Updated_Payload</name>
        <label>Send Updated Payload</label>
        <locationX>941</locationX>
        <locationY>3024</locationY>
        <actionName>ContractTriggerHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Quote_Stage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contractNewList</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ContractTriggerHelper</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Setting the First Year Start Date and First Year End Date on Order.</description>
        <name>Assign_Date_Values_on_Order</name>
        <label>Assign Date Values on Order</label>
        <locationX>941</locationX>
        <locationY>1608</locationY>
        <assignmentItems>
            <assignToReference>oOrder.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.First_Year_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculateFirstYearEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOrder.First_Year_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Date_Values_on_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>BIZ-61300</description>
        <name>assign_op4i_id</name>
        <label>assign op4i id</label>
        <locationX>787</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>GetQuoteDocument.OP4I_Contract_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OP4I_Contract_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateQuoteDocument</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CPI_Value</name>
        <label>CPI Value</label>
        <locationX>1018</locationX>
        <locationY>4764</locationY>
        <assignmentItems>
            <assignToReference>CPI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_SFA_Values.Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_SFA_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_SFA_Value</name>
        <label>Default SFA Value</label>
        <locationX>1546</locationX>
        <locationY>4764</locationY>
        <assignmentItems>
            <assignToReference>Default_SFA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_SFA_Values.Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_SFA_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RPI_Value</name>
        <label>RPI Value</label>
        <locationX>1282</locationX>
        <locationY>4764</locationY>
        <assignmentItems>
            <assignToReference>RPI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_SFA_Values.Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_SFA_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contract_Id</name>
        <label>Set Contract Id</label>
        <locationX>1073</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>oContract.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_OP4I_Contract_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OSA_Type</name>
        <label>Set OSA Type</label>
        <locationX>941</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>$Record.OSA_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Services Change Order</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Related_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Order_On_Contract</name>
        <label>Update Order On Contract</label>
        <locationX>941</locationX>
        <locationY>2616</locationY>
        <assignmentItems>
            <assignToReference>oContract.SBQQ__Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContractUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Contract_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Renewal_Uplift_On_Contract</name>
        <label>Update Renewal Uplift On Contract</label>
        <locationX>930</locationX>
        <locationY>5040</locationY>
        <assignmentItems>
            <assignToReference>oContract.SBQQ__RenewalUpliftRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SFA_Calculation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContractUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verify_Contract_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Renewal_Uplift_Rate_On_Contract</name>
        <label>Update Renewal Uplift Rate On Contract</label>
        <locationX>50</locationX>
        <locationY>4140</locationY>
        <assignmentItems>
            <assignToReference>oContract.SBQQ__RenewalUpliftRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SFA_Override__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContractUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verify_Contract_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_SFA_Cap_On_Contract</name>
        <label>Update SFA Cap On Contract</label>
        <locationX>1238</locationX>
        <locationY>4140</locationY>
        <assignmentItems>
            <assignToReference>oContract.CPI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Master_Terms_CPI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContractUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>SFA_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_SFA_On_Contract</name>
        <label>Update SFA On Contract</label>
        <locationX>798</locationX>
        <locationY>4248</locationY>
        <assignmentItems>
            <assignToReference>oContract.CPI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SFA_Cap_after_Initial_Term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContractUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SFA_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_Status_On_Contract</name>
        <label>update Status On Contract</label>
        <locationX>743</locationX>
        <locationY>2124</locationY>
        <assignmentItems>
            <assignToReference>oContract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Superseded by Newer Contract</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContractUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Subscriptions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Consolidated_Quotes</name>
        <label>Check Consolidated Quotes</label>
        <locationX>1073</locationX>
        <locationY>1908</locationY>
        <defaultConnector>
            <targetReference>OrderNotAvailable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consolidated_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Renewal_Quote_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consolidated-Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verify_Contract_Consolidated_Quote</targetReference>
            </connector>
            <label>Consolidated Quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contract_SFA_Cap_Exists</name>
        <label>Check Contract SFA Cap Exists</label>
        <locationX>930</locationX>
        <locationY>4140</locationY>
        <defaultConnector>
            <targetReference>SFA_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_SFA_Cap_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CPI__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SFA_On_Contract</targetReference>
            </connector>
            <label>Contract SFA Cap Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contract_Status</name>
        <label>Check Contract Status</label>
        <locationX>1073</locationX>
        <locationY>2808</locationY>
        <defaultConnector>
            <targetReference>Check_Quote_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inserted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contract_Currency</targetReference>
            </connector>
            <label>Inserted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_OP4I_Contract_Id</name>
        <label>Check OP4I Contract Id</label>
        <locationX>1073</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Check_Services_Project_Type_on_Opp_and_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OP4I_Contract_Id_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OP4I_Contract_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OP4I_Contract_Id__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetQuoteDocument</targetReference>
            </connector>
            <label>OP4I Contract Id check</label>
        </rules>
    </decisions>
    <decisions>
        <description>BIZ-61300</description>
        <name>check_quote_document_records_present</name>
        <label>check quote document records present</label>
        <locationX>919</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Check_Services_Project_Type_on_Opp_and_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Quote_Document_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetQuoteDocument</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_op4i_id</targetReference>
            </connector>
            <label>If Quote Document exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quote_Stage</name>
        <label>Check Quote Stage</label>
        <locationX>1073</locationX>
        <locationY>3216</locationY>
        <defaultConnector>
            <targetReference>Check_Renewal_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Contract_Executed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Contract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Contract_Lookup_in_Quote</targetReference>
            </connector>
            <label>Not Contract Executed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Renewal_Contract</name>
        <label>Check Renewal Contract</label>
        <locationX>1073</locationX>
        <locationY>3624</locationY>
        <defaultConnector>
            <targetReference>checkRenewalForecasted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Non_Renewal_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__Opportunity2__r.SBQQ__RenewedContract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent_OSA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_OSA_on_Contract</targetReference>
            </connector>
            <label>Non Renewal Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Services_Project_Type_on_Opp_and_Quote</name>
        <label>Check Services Project Type on Opp and Quote</label>
        <locationX>1073</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>Is_Contract_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Services_Project_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity__r.Services_Project_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Services_Project_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_OSA_Type</targetReference>
            </connector>
            <label>Check Services Project Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkRenewalForecasted</name>
        <label>checkRenewalForecasted</label>
        <locationX>1073</locationX>
        <locationY>3924</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsRenewalForecast</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__RenewalForecast__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__RenewalForecast__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_SFA_Cap_in_Quote</targetReference>
            </connector>
            <label>IsRenewalForecast</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_CPI</name>
        <label>If CPI</label>
        <locationX>1282</locationX>
        <locationY>4656</locationY>
        <defaultConnector>
            <targetReference>Default_SFA_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CPI_Values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_SFA_Values.SFA_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CPI_Value</targetReference>
            </connector>
            <label>CPI Values</label>
        </rules>
        <rules>
            <name>RPI_Values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_SFA_Values.SFA_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RPI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RPI_Value</targetReference>
            </connector>
            <label>RPI Values</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_SFA_Cap_in_Quote</name>
        <label>If SFA Cap in Quote</label>
        <locationX>644</locationX>
        <locationY>4032</locationY>
        <defaultConnector>
            <targetReference>Update_SFA_Cap_On_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IF_SFA_Overide_in_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SFA_Override__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Renewal_Uplift_Rate_On_Contract</targetReference>
            </connector>
            <label>IF SFA Overide in Contract</label>
        </rules>
        <rules>
            <name>Quote_SFA_Cap_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CPI__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SFA_Override__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CPI__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>N/A (Master Terms Apply)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contract_SFA_Cap_Exists</targetReference>
            </connector>
            <label>Quote SFA Cap Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Contract Start Date or First Segment Months on Quote is changed then we are updating the field values on Order.</description>
        <name>Is_Contract_Changed</name>
        <label>Is Contract Changed</label>
        <locationX>1073</locationX>
        <locationY>1500</locationY>
        <defaultConnector>
            <targetReference>Check_Consolidated_Quotes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Contract_field_or_Quote_field_is_changed</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StartDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.First_Segment_Months__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Date_Values_on_Order</targetReference>
            </connector>
            <label>If Contract field or Quote field is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>OrderNotAvailable</name>
        <label>OrderNotAvailable</label>
        <locationX>1073</locationX>
        <locationY>2508</locationY>
        <defaultConnector>
            <targetReference>Check_Contract_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UpdateOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_On_Contract</targetReference>
            </connector>
            <label>UpdateOrder</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Contract_Consolidated_Quote</name>
        <label>Verify Contract Consolidated Quote</label>
        <locationX>875</locationX>
        <locationY>2016</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_Consolidated_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Consolidated_Quote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SBQQ__Quote__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Status_On_Contract</targetReference>
            </connector>
            <label>Contract Consolidated Quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Contract_Update</name>
        <label>Verify Contract Update</label>
        <locationX>644</locationX>
        <locationY>5232</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oContractUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contract_Update</targetReference>
            </connector>
            <label>Contract Update</label>
        </rules>
    </decisions>
    <description>BIZ-62662 - Updated SFA_Calculation Formula with 3% and CPI+3%
BIZ-62662 - Update Contract Renewal uplift based on Quote&apos;s SFA Cap After Initial Term field value. 
BIZ-62662 - Contract renewal uplift calculations should not run thru Quote Renewal Increase/SFA Cap when contract SFA override provided.
BIZ-64685 - Avoid Contract Recursion. all contract updates in single Contract record.
Update Contract Lookup on Quote detail page, Contract number on Contract object. Created as per BIZ-45643, BIZ-47277, BIZ-47308.,BIZ-47537,contract currency.BIZ-48699: Set the Contract Status = “In Force “
BIZ-47716 - If cloned quote is marked primary but does not move to &apos;Contract Executed&apos; stage 30 days before contract end-date, auto-renewal quote needs to marked primary and ordered, SFA Cap Calculation and Renewal Uplift updation. BIZ-45902, BIZ-50017: When the Quote Contract(Contract__c) field is updated, the associated Opportunity Contract field(Associated_Contract_OSA__c) should be updated. BIZ-48732,BIZ-51979- Update order on the contract. BIZ-59994- Update First Year Start Date and First Year End Date on Order.
BIZ-65599 Update ACV Type on Order
BIZ-66427 Contract triggers and Flows: Implement automation bypass framework
BIZ-75173 Added Parent OSA default logic</description>
    <environments>Default</environments>
    <formulas>
        <description>Formula to calculate the First Year End Date field on Order.</description>
        <name>CalculateFirstYearEndDate</name>
        <dataType>Date</dataType>
        <expression>DATETIMEVALUE( ADDMONTHS( {!$Record.StartDate} ,   {!$Record.SBQQ__Quote__r.First_Segment_Months__c} ) - 1 )</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>SFA_Calculation</name>
        <dataType>Number</dataType>
        <expression>MIN(
  CASE(
    {!$Record.CPI__c},
    &quot;CPI + 10%&quot;, {!CPI} + 10,
    &quot;CPI + 5%&quot;, {!CPI} + 5,
     &quot;CPI + 3%&quot;, {!CPI} + 3,
    &quot;Greater of CPI or 3%&quot;, MAX({!CPI}, 3),
    &quot;Greater of CPI or 5%&quot;, MAX({!CPI}, 5),
    &quot;Greater of CPI or 10%&quot;, MAX({!CPI}, 10),
    &quot;RPI + 10%&quot;, {!RPI} + 10,
    &quot;RPI + 5%&quot;, {!RPI} + 5,
    &quot;Greater of RPI or 5%&quot;, MAX({!RPI}, 5),
    &quot;Greater of RPI or 10%&quot;, MAX({!RPI}, 10),
    &quot;10%&quot;, 10,
    &quot;5%&quot;, 5,
    &quot;3%&quot;, 3,
    {!Default_SFA}
  ),
  {!Default_SFA}
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Termination_Date_Formula</name>
        <dataType>Date</dataType>
        <expression>{!$Record.SBQQ__Quote__r.SBQQ__StartDate__c} - 1</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>Url</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_260, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_260))&amp;{!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Contract : {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract : After Insert Update</label>
    <loops>
        <name>Fetch_SFA_Values</name>
        <label>Fetch SFA Values</label>
        <locationX>930</locationX>
        <locationY>4548</locationY>
        <collectionReference>SFA_Values</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_CPI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Renewal_Uplift_On_Contract</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetQuoteDocument</name>
        <label>GetQuoteDocument</label>
        <locationX>919</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_quote_document_records_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteDocument__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SFA_Values</name>
        <label>SFA Values</label>
        <locationX>930</locationX>
        <locationY>4440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_SFA_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SFA_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Value__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__LookupData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>BIZ-47537</description>
        <name>Update_Contract_Currency</name>
        <label>Update Contract Currency And Status</label>
        <locationX>941</locationX>
        <locationY>2916</locationY>
        <connector>
            <targetReference>Send_Updated_Payload</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Force</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract_Update</name>
        <label>Update Contract Update</label>
        <locationX>512</locationX>
        <locationY>5340</locationY>
        <inputReference>oContract</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updating the order with the values associated with the contract.</description>
        <name>Update_Date_Values_on_Order</name>
        <label>Update Date Values on Order</label>
        <locationX>941</locationX>
        <locationY>1716</locationY>
        <connector>
            <targetReference>Check_Consolidated_Quotes</targetReference>
        </connector>
        <inputReference>oOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_OSA_on_Contract</name>
        <label>Update Parent OSA on Contract</label>
        <locationX>941</locationX>
        <locationY>3732</locationY>
        <connector>
            <targetReference>checkRenewalForecasted</targetReference>
        </connector>
        <inputAssignments>
            <field>Parent_OSA__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Contract_LookUp_in_Opty</name>
        <label>Update Related Contract LookUp in Opty</label>
        <locationX>941</locationX>
        <locationY>3432</locationY>
        <connector>
            <targetReference>Check_Renewal_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Associated_Contract_OSA__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Associated_Contract_OSA__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Contract_Lookup_in_Quote</name>
        <label>Update Related Contract Lookup in Quote</label>
        <locationX>941</locationX>
        <locationY>3324</locationY>
        <connector>
            <targetReference>Update_Related_Contract_LookUp_in_Opty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>$Record.SBQQ__Order__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Order</name>
        <label>Update Related Order</label>
        <locationX>941</locationX>
        <locationY>1308</locationY>
        <connector>
            <targetReference>Is_Contract_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ACV_Type__c</field>
            <value>
                <stringValue>Services Change Request</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Subscriptions</name>
        <label>Update Subscriptions</label>
        <locationX>743</locationX>
        <locationY>2232</locationY>
        <connector>
            <targetReference>OrderNotAvailable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Consolidated_Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__TerminatedDate__c</field>
            <value>
                <elementReference>Termination_Date_Formula</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Subscription__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateQuoteDocument</name>
        <label>UpdateQuoteDocument</label>
        <locationX>787</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>Check_Services_Project_Type_on_Opp_and_Quote</targetReference>
        </connector>
        <inputReference>GetQuoteDocument</inputReference>
    </recordUpdates>
    <start>
        <locationX>1425</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Contract_Id</targetReference>
        </connector>
        <filterFormula>NOT(
	{!$Setup.Automation_Controls__c.Active__c} &amp;&amp;
	{!$Setup.Automation_Controls__c.Bypass_Flows__c} &amp;&amp;
	{!$Setup.Automation_Controls__c.Contract_Bypass__c} &amp;&amp;
	(
		ISBLANK({!$Setup.Automation_Controls__c.Data_Id__c}) || 
		(
			NOT(ISBLANK({!$Setup.Automation_Controls__c.Data_Id__c})) &amp;&amp;
			CONTAINS({!$Setup.Automation_Controls__c.Data_Id__c}, {!$Record.Id})
		)
	)
)</filterFormula>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Order_Renewal_Contract_30_Days_Before</name>
            <label>Order Renewal Contract 30 Days Before</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>-30</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>EndDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Update_Consolidated_Contracts1</name>
            <label>Update Consolidated Contracts</label>
            <offsetNumber>6</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CPI</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Default_SFA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>oContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>oContractUpdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>oOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>RPI</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
