Doc/force-app/main/default/flows/Contract_SFA_Override_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Contract_SFA_Override_Update_Error</name>
        <label>Contract_SFA_Override_Update_Error</label>
        <locationX>490</locationX>
        <locationY>1082</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Contract_SFA_Override_Screen_Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Contract SFA Override screen failed after Contract update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Contract_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tagsString</name>
            <value>
                <stringValue>ContractscreenflowError</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Renewal_validate_Info</name>
        <label>Renewal validate Info</label>
        <locationX>754</locationX>
        <locationY>458</locationY>
        <actionName>Nebula__FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Contract_SFA_Override_Screen_Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Info</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Renewal validate Info</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Contract_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tagsString</name>
            <value>
                <stringValue>contractscreenflowinfo</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Nebula__FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Update Contract record with New SFA Override value and Notes</description>
        <name>Assign_Contract_Details</name>
        <label>Assign Contract Details</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>ContractToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractToUpdate.SBQQ__RenewalUpliftRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SFA_override_value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractToUpdate.SFA_Override_Applied__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractToUpdate.SFA_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SFA_override_value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractToUpdate.Original_SFA_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.SFA_Override__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractToUpdate.SFA_Override_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SFANotesCombined</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractToUpdate.SFA_Override_Applied_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SFAOverrideUser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractToUpdate.SFA_Override_Timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractToUpdate.SBQQ__RenewalQuoted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractToUpdate.SBQQ__RenewalOpportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.SBQQ__RenewalOpportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contract_Details</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check Renewal Opportunity Exist or not</description>
        <name>Renewal_Opportunity_Check</name>
        <label>Renewal Opportunity Check</label>
        <locationX>468</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Renewal_Opportunity_Not_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Renewal_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract_Record.SBQQ__RenewalOpportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract_Record.SBQQ__RenewalForecast__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract_Record.SBQQ__RenewalQuoted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SFA_Override_Entry</targetReference>
            </connector>
            <label>Check Renewal Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>SFA_Override_Value_Check</name>
        <label>SFA Override Value Check</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Confirmation_Page</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_SFA_Override_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_SFA_override_value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_SFA_override_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Contract_Record.SFA_Override__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_SFA_Override_Validation</targetReference>
            </connector>
            <label>Check SFA Override Value</label>
        </rules>
    </decisions>
    <description>Created as part of BIZ-68171.</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>SFANotesCombined</name>
        <dataType>String</dataType>
        <expression>BR() &amp;
{!Get_Contract_Record.SFA_Override_Notes__c} &amp; 
BR() &amp; 
&quot;Updated By: &quot; &amp; {!$User.FirstName}  &amp; &quot; &quot; &amp; {!$User.LastName} &amp; 
 &quot;--&quot; &amp; 
&quot;Updated At: &quot; &amp; TEXT(NOW()) &amp; 
&quot;--&quot; &amp; 
&quot;Previous SFA Override: &quot; &amp; TEXT({!Get_Contract_Record.SFA_Override__c}) &amp; 
&quot;--&quot; &amp; 
&quot;New SFA Override: &quot; &amp; TEXT({!New_SFA_override_value}) &amp; 
&quot;--&quot; &amp; 
&quot;Notes: &quot; &amp; {!SFA_Override_Comments}</expression>
    </formulas>
    <formulas>
        <name>SFAOverrideUser</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}  &amp; &quot; &quot; &amp; {!$User.LastName}</expression>
    </formulas>
    <interviewLabel>Contract SFA Override Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract SFA Override Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get Contract record related to input contract id.</description>
        <name>Get_Contract_Record</name>
        <label>Get Contract Record</label>
        <locationX>468</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Renewal_Opportunity_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract_Details</name>
        <label>Update Contract Details</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Close_Window_Request</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Contract_SFA_Override_Update_Error</targetReference>
        </faultConnector>
        <inputReference>ContractToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Close_Window_Request</name>
        <label>Close Window Request</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Call_Sub_Flow_to_Set_Contract_Renewal_Quoted</targetReference>
        </connector>
        <fields>
            <name>Close_Request_Text</name>
            <fieldText>&lt;p&gt;Your request is being processed in the background. Click the Finish button, then close this window.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Page</name>
        <label>Confirmation Page</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Contract_Details</targetReference>
        </connector>
        <fields>
            <name>ConfirmationPage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgba(9, 30, 66, 0.06); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Are you sure you want to proceed?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgba(9, 30, 66, 0.06); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Existing SFA Override Value: {!Get_Contract_Record.SFA_Override__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgba(9, 30, 66, 0.06); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;New SFA Override Value: {!New_SFA_override_value}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgba(9, 30, 66, 0.06); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;SFA Override Notes: {!SFA_Override_Comments}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_SFA_Override_Validation</name>
        <label>New SFA Override Validation</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmation_Page</targetReference>
        </connector>
        <fields>
            <name>Error_Message1</name>
            <fieldText>&lt;p&gt;The new SFA Override value must be different from the current SFA Override value. Please enter a different value.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Renewal_Opportunity_Not_Exist</name>
        <label>Renewal Opportunity Not Exist</label>
        <locationX>754</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Renewal_validate_Info</targetReference>
        </connector>
        <fields>
            <name>Renewal_Opportunity_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgba(9, 30, 66, 0.06);&quot;&gt;Allows if Renewal Opportunity exists and Renewal Quote Not exists.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SFA_Override_Entry</name>
        <label>SFA Override Entry</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SFA_Override_Value_Check</targetReference>
        </connector>
        <fields>
            <name>Current_SFA_Value</name>
            <fieldText>&lt;p&gt;Current SFA Override Value: {!Get_Contract_Record.SFA_Override__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>New_SFA_override_value</name>
            <dataType>Number</dataType>
            <fieldText>New SFA override value:</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter the new override value for SFA.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>3</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SFA_Override_Comments</name>
            <fieldText>SFA Override Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter SFA Override Comments.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>New_SFA_override_value</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Sub_Flow_to_Set_Contract_Renewal_Quoted</name>
        <label>Call Sub Flow to Set Contract Renewal Quoted</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <flowName>Contract_Renewal_Quote_Update</flowName>
        <inputAssignments>
            <name>NewContractValues</name>
            <value>
                <elementReference>ContractToUpdate</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>ContractToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
