Doc/force-app/main/default/flows/Custom_Action_Before_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Check if External Id is blank</description>
        <name>External_Id_Check</name>
        <label>External Id Check</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GearsetExternalId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_External_Id</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <description>Before Insert Update Flow for Custom Actions</description>
    <environments>Default</environments>
    <formulas>
        <description>Formula to construct external id</description>
        <name>externalId</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.Name} + &apos; &apos; + IF({!$Record.SBQQ__Active__c}, &quot;Active&quot;, &quot;Inactive&quot;) + &apos; &apos; + TEXT({!$Record.SBQQ__DisplayOrder__c}), &quot; &quot;, &quot;_&quot;)</expression>
    </formulas>
    <interviewLabel>Custom Action Before Insert Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom Action Before Insert Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_External_Id</name>
        <label>Update External Id</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>GearsetExternalId__c</field>
            <value>
                <elementReference>externalId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>External_Id_Check</targetReference>
        </connector>
        <object>SBQQ__CustomAction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
