Doc/force-app/main/default/flows/IIS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>IF_CLOUD</name>
        <label>IF CLOUD</label>
        <locationX>344</locationX>
        <locationY>346</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLOUD_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lookup_quote_lines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CREATE_IIS</targetReference>
            </connector>
            <label>CLOUD YES</label>
        </rules>
    </decisions>
    <interviewLabel>IIS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IIS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CREATE_IIS</name>
        <label>CREATE IIS</label>
        <locationX>361</locationX>
        <locationY>596</locationY>
        <connector>
            <targetReference>update_counter</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>lookup_quote_lines.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meter_Type__c</field>
            <value>
                <elementReference>lookup_quote_lines.Meter_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Product__c</field>
            <value>
                <stringValue>01t2J000005VqUV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quantity__c</field>
            <value>
                <elementReference>lookup_quote_lines.SBQQ__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quote__c</field>
            <value>
                <elementReference>lookup_quote_lines.SBQQ__Quote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Level__c</field>
            <value>
                <elementReference>lookup_quote_lines.Support_Level__c</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>lookup_quote_lines</name>
        <label>lookup quote lines</label>
        <locationX>352</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IF_CLOUD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Software</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID_P</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_counter</name>
        <label>update counter</label>
        <locationX>360</locationX>
        <locationY>764</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID_P</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>counter_fo_allert__c</field>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>lookup_quote_lines</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Amountsum</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>COLLECT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Collection_of_Meter_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>collectionofallproducts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectionofquotlines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>gold_support_amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Platinum_support_amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Productcollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>PArent quote ID</description>
        <name>QuoteID_P</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>quoteliniteration</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
</Flow>
