Doc/force-app/main/default/flows/Notify_Support_overdue_10.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_email_to_support</name>
        <label>send_email_to_support</label>
        <locationX>987</locationX>
        <locationY>920</locationY>
        <actionName>SendHTMLEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>null</targetReference>
        </connector>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>collect_all_data</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <elementReference>loopedusers2.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>loopedusers2.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>The following case has had no comments in last 5 days, needs action: </stringValue>
            </value>
        </inputParameters>
        <nameSegment>SendHTMLEmail</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>case_links_1</name>
        <label>case_links</label>
        <locationX>1326</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>case_links</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>case_links_formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountname</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>selected_cases.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collect_all_data</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Case Number: &lt;a href=&quot;{!case_links_formula}&quot;&gt;{!selected_cases.CaseNumber}&lt;/a&gt; Account: {!selected_cases.Account.Name} Subject: {!selected_cases.Subject} &lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_overdue_cases_with_owners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>null</name>
        <label>null</label>
        <locationX>299</locationX>
        <locationY>908</locationY>
        <assignmentItems>
            <assignToReference>collect_all_data</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>get_users</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CASELINKS</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <name>globalconstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>if_blank_do_not_send</name>
        <label>if blank do not send</label>
        <locationX>980</locationX>
        <locationY>781</locationY>
        <defaultConnector>
            <targetReference>null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collect_all_data</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>send_email_to_support</targetReference>
            </connector>
            <label>not blank</label>
        </rules>
    </decisions>
    <formulas>
        <name>case_links_formula</name>
        <dataType>String</dataType>
        <expression>&quot;https://intapp.my.salesforce.com/&quot;+{!selected_cases.Id}+&quot;&quot;</expression>
    </formulas>
    <formulas>
        <name>email_was_sent_text</name>
        <dataType>String</dataType>
        <expression>&quot;email was sent &quot;+ TEXT (now())</expression>
    </formulas>
    <formulas>
        <name>text</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!collect_all_data},&quot;-&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Textwithnewlines</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!collect_all_data},&quot;-&quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Notify Support overdue 10 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify Support overdue 10</label>
    <loops>
        <name>loop_overdue_cases_with_owners</name>
        <label>loop_overdue_cases_with_owners</label>
        <locationX>988</locationX>
        <locationY>575</locationY>
        <assignNextValueToReference>selected_cases</assignNextValueToReference>
        <collectionReference>collection_cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>case_links_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>if_blank_do_not_send</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_users</name>
        <label>loop users</label>
        <locationX>568</locationX>
        <locationY>575</locationY>
        <assignNextValueToReference>loopedusers2</assignNextValueToReference>
        <collectionReference>collectionusers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_overdue_cases_with_owners</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_overdue_cases_with_owners</name>
        <label>get overdue cases with owners</label>
        <locationX>770</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_overdue_cases_with_owners</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Days_since_Last_Modified__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopedusers2.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Support</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Defect Filed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>collection_cases</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <queriedFields>Record_Type_Name__c</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_users</name>
        <label>get_users</label>
        <locationX>307</locationX>
        <locationY>573</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <dateTimeValue>2012-01-15T17:40:00.000Z</dateTimeValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <dateTimeValue>2014-12-05T19:38:00.000Z</dateTimeValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00E5000000109Or</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>collectionusers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <start>
        <locationX>305</locationX>
        <locationY>218</locationY>
        <connector>
            <targetReference>get_users</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-02-05</startDate>
            <startTime>23:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>a123</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Textwithnewlines}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>format123</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Case Number: {!selected_cases.CaseNumber}&amp;nbsp;Link: {!case_links_formula}&amp;nbsp;Account:{!selected_cases.Account.Name}&amp;nbsp;Subject: {!selected_cases.Subject}&amp;nbsp;{!ttlinebreak}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!ttlinebreak}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>newline</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;-&lt;/p&gt;&lt;p&gt;-&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>text_12345</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;-&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttlinebreak</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!globalconstant}&lt;/p&gt;&lt;p&gt;{!globalconstant}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>a1111</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>case_links</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>case_number_template</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_owner_email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>case_owner_template</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collect_all_data</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectedusers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>collection_cases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>collectionusers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>format</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loopedusers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>loopedusers2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>new_line</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selected_cases</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Successfulfinish</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>textnl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
