Doc/force-app/main/default/flows/Order_Change_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Country_and_State_Code</name>
        <label>Get Country and State Code</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>CountryStateCodeHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Old_values_in_Order_Change</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>billingCountry</name>
            <value>
                <elementReference>Get_Orders.BillingCountry</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>billingState</name>
            <value>
                <elementReference>Get_Orders.BillingState</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shippingCountry</name>
            <value>
                <elementReference>Get_Orders.ShippingCountry</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shippingState</name>
            <value>
                <elementReference>Get_Orders.ShippingState</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CountryStateCodeHelper</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Old_values_in_Order_Change</name>
        <label>Assign Old values in Order Change</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Orderchange.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Orders.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Orderchange.Old_Invoicing_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Orders.BillToContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Orderchange.Old_PO_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Orders.PO_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Orderchange.Billing_Address_Old__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Orders.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Orderchange.Billing_Address_Old__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Orders.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Orderchange.Billing_Address_Old__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country_and_State_Code.billingStateCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Orderchange.Billing_Address_Old__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Orders.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Orderchange.Billing_Address_Old__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country_and_State_Code.billingCountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Orderchange.Shipping_Address_Old__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Orders.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Orderchange.Shipping_Address_Old__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Orders.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Orderchange.Shipping_Address_Old__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country_and_State_Code.shippingStateCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Orderchange.Shipping_Address_Old__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Orders.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Orderchange.Shipping_Address_Old__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country_and_State_Code.shippingCountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Orderchange.Payment_terms_Old__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Orders.Payment_Term_Software__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order_Change</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Additional_Contact</name>
        <label>Check Additional Contact</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Order_Change_Request1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact Selected</defaultConnectorLabel>
        <rules>
            <name>Additional_Contact_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Orders.Additional_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Additional_Contact</targetReference>
            </connector>
            <label>Contact Selected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Order Change Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Change Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Order_Change</name>
        <label>Create Order Change</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Check_Additional_Contact</targetReference>
        </connector>
        <inputReference>Orderchange</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Orders</name>
        <label>Get Orders</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Change_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Additional_Contact</name>
        <label>Update Order Additional Contact</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Order_Change_Request1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Orders.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Additional_Contact__c</field>
            <value>
                <elementReference>Get_Orders.Additional_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <screens>
        <name>Order_Change_Request</name>
        <label>Order Change Request</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Country_and_State_Code</targetReference>
        </connector>
        <fields>
            <name>Order_Change_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Order_Change_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Orderchange.Name</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Order_Change_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Orderchange.Reason_Code__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Order_Change_Request_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Order_Change_Request_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Orderchange.New_PO_Number__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Order_Change_Request_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Orderchange.New_Invoicing_Contact__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Order_Change_Request_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Order_Change_Request_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Orders.Additional_Contact__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Order_Change_Request_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create Request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Order_Change_Request1</name>
        <label>Order Change Request</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RedirectToRecord</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;/{!Orderchange}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click To Open The Order Change Record&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Orders</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Orderchange</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order_Change__c</objectType>
    </variables>
    <variables>
        <name>OrderPaymentTerm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
