Doc/force-app/main/default/flows/Products_from_NEW_opportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Collect_Master_IDs</name>
        <label>COLLECT_MASTER_ID</label>
        <locationX>933</locationX>
        <locationY>405</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Collect_ACV_PRODUCTS.Product_Lines_Text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newline</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_throug_AVC</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IS_NULL</name>
        <label>IS NULL</label>
        <locationX>291</locationX>
        <locationY>141</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IS_Null_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunitiesproductlines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOOP_THROUGH_OPPORTUNITIES</targetReference>
            </connector>
            <label>IS Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>unique</name>
        <label>Check_IF_ID_IS_ALREADY_THERE</label>
        <locationX>1239</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Collect_Master_IDs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>contain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>result</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Collect_ACV_PRODUCTS.Product_Lines_Text__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>result</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>;</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>result</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Loop_throug_AVC</targetReference>
            </connector>
            <label>contain</label>
        </rules>
    </decisions>
    <formulas>
        <name>subst</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!result},&quot;-&quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Products from NEW opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Products from NEW opportunities+ACV</label>
    <loops>
        <name>Loop_throug_AVC</name>
        <label>Loop_throug_AVC</label>
        <locationX>1185</locationX>
        <locationY>212</locationY>
        <assignNextValueToReference>Collect_ACV_PRODUCTS</assignNextValueToReference>
        <collectionReference>ACV_Product_collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>unique</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LOOP_THROUG_PRODUCTS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOOP_THROUG_PRODUCTS</name>
        <label>LOOP_THROUG_PRODUCTS</label>
        <locationX>782</locationX>
        <locationY>171</locationY>
        <assignNextValueToReference>coolectionIDS</assignNextValueToReference>
        <collectionReference>productsright</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>find_ACV</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LOOP_THROUGH_OPPORTUNITIES</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOOP_THROUGH_OPPORTUNITIES</name>
        <label>LOOP_THROUGH_OPPORTUNITIES</label>
        <locationX>441</locationX>
        <locationY>157</locationY>
        <assignNextValueToReference>products_coolected</assignNextValueToReference>
        <collectionReference>opportunitiesproductlines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Lookup_PRODUCTs_WITH_OPPORTUNITY_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_open_collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>find_ACV</name>
        <label>find ACV</label>
        <locationX>993</locationX>
        <locationY>28</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_throug_AVC</targetReference>
        </connector>
        <faultConnector>
            <targetReference>LOOP_THROUG_PRODUCTS</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Item_Master_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>coolectionIDS.Item_Master_Product__c</elementReference>
            </value>
        </filters>
        <object>ACV_Allocation__c</object>
        <outputReference>ACV_Product_collection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_Lines_Text__c</queriedFields>
        <queriedFields>Item_Master_Product__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_all_opportunities</name>
        <label>Lookup all opportunities</label>
        <locationX>156</locationX>
        <locationY>140</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IS_NULL</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>enteraccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Target Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Opportunity Reset</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Legal - New Customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Legal - New Product</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ACV Recovery/Partial ACV Reinstatement</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>opportunitiesproductlines</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_PRODUCTs_WITH_OPPORTUNITY_ID</name>
        <label>Lookup_PRODUCTs_WITH_OPPORTUNITY_ID</label>
        <locationX>667</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_THROUG_PRODUCTS</targetReference>
        </connector>
        <faultConnector>
            <targetReference>LOOP_THROUGH_OPPORTUNITIES</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>products_coolected.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>productsright</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Item_Master_Product__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_open_collection</name>
        <label>Update open collection</label>
        <locationX>367</locationX>
        <locationY>348</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>enteraccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity_Product_Lines_text_open__c</field>
            <value>
                <elementReference>subst</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Lookup_all_opportunities</startElementReference>
    <status>Obsolete</status>
    <textTemplates>
        <name>newline</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>-
-</text>
    </textTemplates>
    <variables>
        <name>ACV_Product_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ACV_Allocation__c</objectType>
    </variables>
    <variables>
        <name>Collect_ACV_PRODUCTS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ACV_Allocation__c</objectType>
    </variables>
    <variables>
        <name>coolectionIDS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>enteraccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunitiesproductlines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>products_coolected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>productsright</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
