Doc/force-app/main/default/flows/Proforma_Invoice_Scheduled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Tax_Recalculation_Message</name>
        <label>Assign Tax Recalculation Message</label>
        <locationX>182</locationX>
        <locationY>660</locationY>
        <assignmentItems>
            <assignToReference>quoteRecord.AVA_SFCPQ__AvaTaxMessage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automated Tax Calculation Triggered, Please Refresh Your Browser</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecord.AVA_SFCPQ__Quote_AutomateTaxCalculation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_90_days_or_lesser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Original_Tax_Message</name>
        <label>Set Original Tax Message</label>
        <locationX>490</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>quoteRecord.AVA_SFCPQ__AvaTaxMessage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Renewal_Quote__r.AVA_SFCPQ__AvaTaxMessage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_90_days_or_lesser</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_90_days_or_lesser</name>
        <label>If 90 days or lesser</label>
        <locationX>336</locationX>
        <locationY>852</locationY>
        <defaultConnector>
            <targetReference>If_No_payment_received</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_90_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Days_remaining_for_Renewal__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Renewal_Quote__r.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.Renewal_to_be_created_Before_Days__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Activity_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sent Document to Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initiated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_element</targetReference>
            </connector>
            <label>If 90 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_No_payment_received</name>
        <label>If No payment received</label>
        <locationX>336</locationX>
        <locationY>1152</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_30_days_remaining</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Days_remaining_for_Renewal__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initiated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Activity_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent Document to Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Activity_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_quote_status_as_Contracted</targetReference>
            </connector>
            <label>If 30 days remaining</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tax_Calculation_Complete</name>
        <label>Tax Calculation Complete</label>
        <locationX>336</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Set_Original_Tax_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Renewal_Quote__r.AVA_SFCPQ__AvaTaxMessage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Tax Amount Is Up To Date  </stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Renewal_Quote__r.AVA_SFCPQ__AvaTaxMessage__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>UNABLE_TO_LOCK_ROW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Renewal_Quote__r.AVA_SFCPQ__AvaTaxMessage__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CANNOT_EXECUTE_FLOW_TRIGGER  </stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tax_Calculation_Completed</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tax_Calculation_Completed</name>
        <label>Tax Calculation Completed</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Assign_Tax_Recalculation_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Renewal_Quote__r.AVA_SFCPQ__Tax_Calculation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_Tax_Completion_Status</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <description>2/7/2025 - Resolve Quote Calculate Tax null error
Update 1/30/25
Scheduled Flow for Updating Quote Status to Order Executed, Close opportunities and Order Quotes
________________________________________________
Scheduled flow to activate Order and generate Invoices for Renewal Letters 30 days before Contract End Date. Updated Status value in condition</description>
    <environments>Default</environments>
    <formulas>
        <name>QuoteCalculateTax</name>
        <dataType>Boolean</dataType>
        <expression>IF({!quoteRecord.AVA_SFCPQ__Quote_AutomateTaxCalculation__c} != null, {!quoteRecord.AVA_SFCPQ__Quote_AutomateTaxCalculation__c}, false)</expression>
    </formulas>
    <interviewLabel>Proforma Invoice - Scheduled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Renewal Letter - Scheduled</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Uncheck_Tax_Completion_Status</name>
        <label>Uncheck Tax Completion Status</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Assign_Tax_Recalculation_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Renewal_Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVA_SFCPQ__Quote_AutomateTaxCalculation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_element</name>
        <label>Update element</label>
        <locationX>204</locationX>
        <locationY>960</locationY>
        <connector>
            <targetReference>If_No_payment_received</targetReference>
        </connector>
        <inputAssignments>
            <field>Activity_Status__c</field>
            <value>
                <stringValue>Sent Document to Contact</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_as_Closed_won</name>
        <label>Update Opp as Closed won</label>
        <locationX>204</locationX>
        <locationY>1368</locationY>
        <connector>
            <targetReference>Update_quote_status_as_Ordered</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Renewal_Quote__r.SBQQ__Opportunity2__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_quote_status_as_Contracted</name>
        <label>Update quote status as Contracted</label>
        <locationX>204</locationX>
        <locationY>1260</locationY>
        <connector>
            <targetReference>Update_Opp_as_Closed_won</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Renewal_Quote__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Quote_Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Contract Executed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AVA_SFCPQ__AvaTaxMessage__c</field>
            <value>
                <elementReference>quoteRecord.AVA_SFCPQ__AvaTaxMessage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVA_SFCPQ__Quote_AutomateTaxCalculation__c</field>
            <value>
                <elementReference>QuoteCalculateTax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Stage__c</field>
            <value>
                <stringValue>Contract Executed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_quote_status_as_Ordered</name>
        <label>Update quote status as Ordered</label>
        <locationX>204</locationX>
        <locationY>1476</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Renewal_Quote__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Ordered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tax_Calculation_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Initiated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Days_remaining_for_Renewal__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>90.0</numberValue>
            </value>
        </filters>
        <object>Proforma_Invoice__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-12-17</startDate>
            <startTime>04:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>OrderCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>quoteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
</Flow>
