Doc/force-app/main/default/flows/QTC_Contract_Renewal_Scheduled_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Are_there_renewable_subscriptions</name>
        <label>Are there renewable subscriptions?</label>
        <locationX>495</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>No Renewable Subs</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Renewable_Subscriptions</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_One_Year_or_Less_From_EndDate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether this contract should have a renewal opportunity generated.</description>
        <name>Contract_One_Year_or_Less_From_EndDate</name>
        <label>Contract One Year or Less From EndDate?</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>First_Segment_Months_Over_12_Under_24</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not One Year from End Date</defaultConnectorLabel>
        <rules>
            <name>Yes_EndDate_Is_A_Year_or_Less_from_Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__RenewalQuoted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>OpportunityRenewal</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__RenewalForecast__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_renewal_start_date_today</targetReference>
            </connector>
            <label>Yes - EndDate Is A Year or Less from Today</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_Segment_Months_Over_12_Under_24</name>
        <label>First Segment Months Over 12 Under 24?</label>
        <locationX>347</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Get_any_open_NYMY_Opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Extended First Term</defaultConnectorLabel>
        <rules>
            <name>Yes_Extended_First_Segment_Months</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.First_Segment_Months__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.First_Segment_Months__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>24.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_renewal_start_date_today</targetReference>
            </connector>
            <label>Yes - Extended First Term</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_renewal_start_date_today</name>
        <label>Ready for Renewal Quote Creation?</label>
        <locationX>182</locationX>
        <locationY>1260</locationY>
        <defaultConnector>
            <targetReference>Renewal_Forecast_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Generate_Renewal_Quote</name>
            <conditionLogic>(1 AND 2) AND (3 OR (4 AND 5 AND 6 AND 7))</conditionLogic>
            <conditions>
                <leftValueReference>Today</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ProformaInvoicedate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__RenewalQuoted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__RenewalOpportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__RenewalOpportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__RenewalOpportunity__r.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__RenewalOpportunity__r.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending Cancellation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__RenewalOpportunity__r.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Superseded By New Contract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contract_Record</targetReference>
            </connector>
            <label>Yes Generate Renewal Quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_NYMY_Opps_exist</name>
        <label>Open NYMY Opps exist?</label>
        <locationX>501</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Is_renewal_start_date_today</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Open NYMY Opportunities</defaultConnectorLabel>
        <rules>
            <name>Open_NYMY_Opp_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_any_open_NYMY_Opportunities</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Open NYMY Opp Found</label>
        </rules>
    </decisions>
    <description>Scheduled flow which returns all Contracts that may be eligible for Renewal Forecast (renewal Opportunity creation) or Renewal Quoted (renewal Quote creation) and iterates through those records to generate renewal Opportunities and/or Quotes as needed.
BIZ-68101: Update QTC Contract Renewal Scheduled Process flow to update Contract Renewal Job Status to “Automation Initiated“</description>
    <environments>Default</environments>
    <formulas>
        <name>OpportunityRenewal</name>
        <dataType>Date</dataType>
        <expression>{!$Record.EndDate} - 365</expression>
    </formulas>
    <formulas>
        <name>ProformaInvoicedate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.EndDate} - 90</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>QTC Contract Renewal Scheduled Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QTC Contract Renewal Scheduled Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Checks for any open NYMY opportunities related to this Contract</description>
        <name>Get_any_open_NYMY_Opportunities</name>
        <label>Get any open NYMY Opportunities</label>
        <locationX>501</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_NYMY_Opps_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Associated_Contract_OSA__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Deal_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NextYear_MultiYear</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Renewable_Subscriptions</name>
        <label>Get Renewable Subscriptions</label>
        <locationX>495</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_renewable_subscriptions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__SubscriptionType__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>One-time</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__SubscriptionType__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Evergreen</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Renewal_Forecast_Only</name>
        <label>Renewal Forecast Only</label>
        <locationX>314</locationX>
        <locationY>1368</locationY>
        <inputAssignments>
            <field>SBQQ__RenewalForecast__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__RenewalTerm__c</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract_Record</name>
        <label>Update Contract Record</label>
        <locationX>50</locationX>
        <locationY>1368</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contract_Renewal_Job_Status__c</field>
            <value>
                <stringValue>Automation Initiated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__RenewalQuoted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__RenewalTerm__c</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>369</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Renewable_Subscriptions</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5) AND 6 AND 7</filterLogic>
        <filters>
            <field>Subsidiary__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Force</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__RenewalQuoted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__RenewalForecast__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Evergreen__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Renewals_Pause__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Deal_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Partner_Fee</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-11-29</startDate>
            <startTime>03:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
