Doc/force-app/main/default/flows/Quote_Renewal_Letter_Create_Scheduled_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Tax_is_Up_to_date</name>
        <label>Is Tax is Up to date?</label>
        <locationX>270</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Calculate_Tax</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_queried_Quotes.AVA_SFCPQ__AvaTaxMessage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax Amount Is Up To Date</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Proforma_Invoice_record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Is_Not_Null</name>
        <label>Quote Is Not Null</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewal_Quotes_Are_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Renewal_Quotes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_queried_Quotes</targetReference>
            </connector>
            <label>Renewal Quotes Are Not Null</label>
        </rules>
    </decisions>
    <description>BIZ-61797: A03 - Tax calculating properly but not included in Renewal Letter document</description>
    <environments>Default</environments>
    <formulas>
        <name>TodayPlus90Days</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 90</expression>
    </formulas>
    <interviewLabel>Quote Renewal Letter Create Scheduled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Renewal Letter Create Scheduled Flow</label>
    <loops>
        <name>Loop_through_queried_Quotes</name>
        <label>Loop through queried Quotes</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_Renewal_Quotes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Tax_is_Up_to_date</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Proforma_Invoice_record</name>
        <label>Create Proforma Invoice record</label>
        <locationX>138</locationX>
        <locationY>684</locationY>
        <connector>
            <targetReference>Loop_through_queried_Quotes</targetReference>
        </connector>
        <inputAssignments>
            <field>Renewal_Quote__c</field>
            <value>
                <elementReference>Loop_through_queried_Quotes.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Start_Date__c</field>
            <value>
                <elementReference>Loop_through_queried_Quotes.SBQQ__StartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Initiated</stringValue>
            </value>
        </inputAssignments>
        <object>Proforma_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Renewal_Quotes</name>
        <label>Get Renewal Quotes</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_Is_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Renewal_Letter__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Renewal_Quote_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Auto-Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__StartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>TodayPlus90Days</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Calculate_Tax</name>
        <label>Calculate Tax</label>
        <locationX>402</locationX>
        <locationY>684</locationY>
        <connector>
            <targetReference>Loop_through_queried_Quotes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_queried_Quotes.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVA_SFCPQ__Quote_AutomateTaxCalculation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Renewal_Quotes</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-11-19</startDate>
            <startTime>03:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
