Doc/force-app/main/default/flows/Quote_Before_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign contract master</description>
        <name>Assign_Contract_Master_Term_On_Quote</name>
        <label>Assign Contract Master Term On Quote</label>
        <locationX>50</locationX>
        <locationY>2051</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contract_Master_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Subsididary_Custom_Metadata_For_Amendment.Contract_Master_Terms__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetOppo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Contract Master Term On Renewal Quote</description>
        <name>Assign_Contract_Master_Term_On_Renewal_Quote</name>
        <label>Assign Contract Master Term On Renewal Quote</label>
        <locationX>490</locationX>
        <locationY>2051</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contract_Master_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Subsidiary_Custom_Metadata_For_Renewal_Quote.Contract_Master_Terms__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetOppo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Renewal_Quote_Type</name>
        <label>Assign Renewal Quote Type</label>
        <locationX>226</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.Renewal_Quote_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewal-Changes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Free_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.New_OSA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bill_TO_entity_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignQuote</name>
        <label>assignQuote</label>
        <locationX>1018</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__SubscriptionTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.First_Segment_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.New_OSA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Credit_Memo_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit for Superseded</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bill_TO_entity_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignQuote5</name>
        <label>assignQuote</label>
        <locationX>754</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.New_OSA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bill_TO_entity_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Renewal_Quote_Type</name>
        <label>Assign Renewal Quote Type</label>
        <locationX>490</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.Renewal_Quote_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Auto-Renewal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Free_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bill_TO_entity_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Update_Subsidiary</name>
        <label>Update Subsidiary And Line Of Business</label>
        <locationX>1194</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subsidiary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01:200 Integration Appliance (US)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Line_of_Business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Intapp</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetOppo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>custom_master_term_Update</name>
        <label>custom master term Update</label>
        <locationX>556</locationX>
        <locationY>2843</locationY>
        <assignmentItems>
            <assignToReference>$Record.Custom_Master_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Account__r.Custom_Master_Term__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>custom_master_term_Update_0</name>
        <label>custom master term Update</label>
        <locationX>820</locationX>
        <locationY>2843</locationY>
        <assignmentItems>
            <assignToReference>$Record.Custom_Master_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Account.Custom_Master_Term__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Billing_Account_If_Bill_To_Entity_Is_Blank</name>
        <label>Populate Billing Account If Bill To Entity Is Blank</label>
        <locationX>820</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.Bill_To_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Billing_Account_If_Bill_To_Entity_Is_Not_Blank</name>
        <label>Populate Billing Account If Bill To Entity Is Not Blank</label>
        <locationX>556</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.Bill_To_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Account__r.Bill_To_Entity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Cancellation_Fee</name>
        <label>Populate Cancellation Fee</label>
        <locationX>688</locationX>
        <locationY>4943</locationY>
        <assignmentItems>
            <assignToReference>$Record.Cancellation_fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calculatedCancellationFee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_20</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Expiration_Date</name>
        <label>Populate Expiration Date</label>
        <locationX>688</locationX>
        <locationY>5243</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__ExpirationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Requested_Contract_Expiration__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_22</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Fee_Earner</name>
        <label>Populate Fee Earner</label>
        <locationX>556</locationX>
        <locationY>3743</locationY>
        <assignmentItems>
            <assignToReference>$Record.License_Basis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fee Earners</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_9</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Fee_Earner_0</name>
        <label>Populate Fee Earner</label>
        <locationX>820</locationX>
        <locationY>3743</locationY>
        <assignmentItems>
            <assignToReference>$Record.License_Basis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fee Earners</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_9</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Lawyers</name>
        <label>Populate Lawyers</label>
        <locationX>556</locationX>
        <locationY>4043</locationY>
        <assignmentItems>
            <assignToReference>$Record.License_Basis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lawyers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_14</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Lawyers_0</name>
        <label>Populate Lawyers</label>
        <locationX>820</locationX>
        <locationY>4043</locationY>
        <assignmentItems>
            <assignToReference>$Record.License_Basis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lawyers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_14</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Subscription_Term</name>
        <label>Populate Subscription Term</label>
        <locationX>688</locationX>
        <locationY>5543</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__SubscriptionTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Initial_Software_Term_Length_Months__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Trigger_Extended_Term_Creation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_24</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Subscription_Term2</name>
        <label>Populate Subscription Term2</label>
        <locationX>688</locationX>
        <locationY>5843</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__SubscriptionTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Quote_Count_Assignment</name>
        <label>Quote Count Assignment</label>
        <locationX>358</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>quoteCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Number_of_Quotes_on_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Quote_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Quote_Expiration_Data_Populate</name>
        <label>Quote Details Populate</label>
        <locationX>820</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__ExpirationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteExpirationDatePopulate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sum_Of_DealCloud_Subscriptions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Account__r.Sum_Of_DealCloud_Subscriptions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Contract_Master_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__MasterContract__r.Contract_Master_Terms__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Renewal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update</name>
        <label>Update</label>
        <locationX>182</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>$Record.Line_of_Business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.Line_of_Business__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Free_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Custom_Software_Payment_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.Custom_Software_Payment_Term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Software_Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.Software_Payment_Terms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.BillingFrequency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__AmendedContract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subsidiary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.Subsidiary__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getQuoteDefaultRT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Cancellation_fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.Cancellation_fee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Renewal_Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.Software_Days_Payment_Due_Renewal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Renewal_Billing_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.Software_Billing_Frequency_Renewal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ROR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.ROR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Invoicing_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.Invoicing_Contact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ROR_Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.ROR_Expiration_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Deal_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Add-On</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Bill_To_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.Bill_To_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Ship_To_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.Ship_To_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Contract_Master_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.Contract_Master_Terms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Bill_To_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.Billing_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Ship_To_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.Shipping_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Amendment_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amendment_Count</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Subsididary_Custom_Metadata_For_Amendment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CurrencyISocode_On_Quote</name>
        <label>Update CurrencyISocode On Quote</label>
        <locationX>688</locationX>
        <locationY>2543</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOppo.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Primary_Contact</name>
        <label>Update Primary Contact</label>
        <locationX>688</locationX>
        <locationY>4643</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__PrimaryContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Contract_Signer__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Cancellation_Fee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_quote_address</name>
        <label>Update quote address</label>
        <locationX>688</locationX>
        <locationY>3443</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Bill_To_Address__r.Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Bill_To_Address__r.Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Bill_To_Address__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Bill_To_Address__r.Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingState__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Bill_To_Address__r.Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Bill_To_Address__r.Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Quote_Details</name>
        <label>Update Quote Details</label>
        <locationX>820</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.Ship_To_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__ContractingMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Single Contract</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amendment_or_Renewal_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Quote_fields</name>
        <label>Update Quote fields</label>
        <locationX>688</locationX>
        <locationY>4343</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__MasterContract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Associated_Contract_OSA__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_16</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Subsidiary</name>
        <label>Update Subsidiary</label>
        <locationX>930</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subsidiary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>18:DealCloud, Inc.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Line_of_Business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DealCloud</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetOppo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Watermark</name>
        <label>Update Watermark</label>
        <locationX>688</locationX>
        <locationY>3143</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__WatermarkShown__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updates</name>
        <label>Updates</label>
        <locationX>622</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>$Record.Deal_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Free_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.Free_Months__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Custom_Software_Payment_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.Custom_Software_Payment_Term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Line_of_Business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.Line_of_Business__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__SubscriptionTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.ContractTerm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Software_Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Net 60</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.BillingFrequency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subsidiary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.Subsidiary__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.First_Segment_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__r.First_Segment_Months__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getQuoteDefaultRTForRenewal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ROR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.ROR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Renewal_Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Net 30</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Renewal_Billing_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.Software_Billing_Frequency_Renewal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Cancellation_fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.Cancellation_fee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Invoicing_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.Invoicing_Contact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ROR_Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.ROR_Expiration_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Bill_To_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.Bill_To_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Ship_To_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.Ship_To_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Contract_Master_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.Contract_Master_Terms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Bill_To_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.Billing_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Ship_To_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.Shipping_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Subsidiary_Custom_Metadata_For_Renewal_Quote</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Amendment_or_Renewal_Quote</name>
        <label>Amendment or Renewal Quote</label>
        <locationX>820</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>GetOppo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Amendment_Deatails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getQuoteDefaultRT</targetReference>
            </connector>
            <label>Update Amendment Deatails</label>
        </rules>
        <rules>
            <name>Update_Renewal_Detail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getQuoteDefaultRTForRenewal</targetReference>
            </connector>
            <label>Update Renewal Detail</label>
        </rules>
        <rules>
            <name>Update_Regular_Quote_and_Account_Legacy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Account_Legacy_DC</targetReference>
            </connector>
            <label>Update Regular Quote and Account Legacy</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bill_TO_entity_check</name>
        <label>Bill TO entity check</label>
        <locationX>820</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Update_Quote_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bill_To_Entity_Is_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Account__r.Bill_To_Entity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Billing_Account_If_Bill_To_Entity_Is_Not_Blank</targetReference>
            </connector>
            <label>Bill To Entity Is Not Blank</label>
        </rules>
        <rules>
            <name>Bill_To_Entity_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Account__r.Bill_To_Entity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Billing_Account_If_Bill_To_Entity_Is_Blank</targetReference>
            </connector>
            <label>Bill To Entity is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account_Legacy_DC</name>
        <label>Check Account Legacy DC</label>
        <locationX>1062</locationX>
        <locationY>1619</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Subsidiary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Legacy_DC_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Account__r.Legacy_DC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Subsidiary</targetReference>
            </connector>
            <label>Legacy DC True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Cancellation_Fee</name>
        <label>Check Cancellation Fee</label>
        <locationX>820</locationX>
        <locationY>4835</locationY>
        <defaultConnector>
            <targetReference>myRule_20</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancellation_Fee_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cancellation_fee__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Cancellation_Fee</targetReference>
            </connector>
            <label>Cancellation Fee Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quote_Count</name>
        <label>Check Quote Count</label>
        <locationX>358</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_Renewal_Quote_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_than_Or_Equals_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quoteCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Renewal_Quote_Type</targetReference>
            </connector>
            <label>Greater than Or Equals 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Renewal</name>
        <label>Check Renewal</label>
        <locationX>820</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Bill_TO_entity_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Renewal_Quote_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Consolidated_Quote</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Number_of_Quotes_on_Opportunity</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
        <rules>
            <name>Renewal_Consolidated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Renewal_Quote_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consolidated-Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignQuote5</targetReference>
            </connector>
            <label>Renewal Consolidated</label>
        </rules>
        <rules>
            <name>Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignQuote</targetReference>
            </connector>
            <label>Quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1</name>
        <label>If maser term on account is not empty</label>
        <locationX>820</locationX>
        <locationY>2735</locationY>
        <defaultConnector>
            <targetReference>myRule_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_If maser term on account is not empty</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Account__r.Custom_Master_Term__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>custom_master_term_Update</targetReference>
            </connector>
            <label>TRUE_If maser term on account is not empty</label>
        </rules>
        <rules>
            <name>OppoAccountCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__r.Account.Custom_Master_Term__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>custom_master_term_Update_0</targetReference>
            </connector>
            <label>OppoAccountCheck</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_14</name>
        <label>Update OSA</label>
        <locationX>820</locationX>
        <locationY>4235</locationY>
        <defaultConnector>
            <targetReference>myRule_16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Update OSA</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__r.Associated_Contract_OSA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_fields</targetReference>
            </connector>
            <label>TRUE_Update OSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_16</name>
        <label>Update Primary Contact</label>
        <locationX>820</locationX>
        <locationY>4535</locationY>
        <defaultConnector>
            <targetReference>Check_Cancellation_Fee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Update Primary Contact</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__r.Contract_Signer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Primary_Contact</targetReference>
            </connector>
            <label>TRUE_Update Primary Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_20</name>
        <label>Populate Expiration Date</label>
        <locationX>820</locationX>
        <locationY>5135</locationY>
        <defaultConnector>
            <targetReference>myRule_22</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Populate Expiration Date</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__ExpirationDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__r.Requested_Contract_Expiration__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Expiration_Date</targetReference>
            </connector>
            <label>TRUE_Populate Expiration Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_22</name>
        <label>Populate Subscription Term</label>
        <locationX>820</locationX>
        <locationY>5435</locationY>
        <defaultConnector>
            <targetReference>myRule_24</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Populate Subscription Term</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_22</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__SubscriptionTerm__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__r.Initial_Software_Term_Length_Months__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Software_Products__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Subscription_Term</targetReference>
            </connector>
            <label>TRUE_Populate Subscription Term</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_24</name>
        <label>Default Subscription Term</label>
        <locationX>820</locationX>
        <locationY>5735</locationY>
        <defaultConnectorLabel>FALSE_Default Subscription Term</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__SubscriptionTerm__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__r.Initial_Software_Term_Length_Months__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Software_Products__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Subscription_Term2</targetReference>
            </connector>
            <label>TRUE_Default Subscription Term</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3</name>
        <label>Update Watermark</label>
        <locationX>820</locationX>
        <locationY>3035</locationY>
        <defaultConnector>
            <targetReference>myRule_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Update Watermark</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppo.Sale_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Watermark</targetReference>
            </connector>
            <label>TRUE_Update Watermark</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_5</name>
        <label>Populate Bill To Entity to Quote</label>
        <locationX>820</locationX>
        <locationY>3335</locationY>
        <defaultConnector>
            <targetReference>myRule_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Populate Bill To Entity to Quote</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Account__r.Bill_To_Entity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_quote_address</targetReference>
            </connector>
            <label>TRUE_Populate Bill To Entity to Quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_7</name>
        <label>Legal UK</label>
        <locationX>820</locationX>
        <locationY>3635</locationY>
        <defaultConnector>
            <targetReference>myRule_9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Legal UK</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Account__r.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Account__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingdom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.License_Basis__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Fee_Earner</targetReference>
            </connector>
            <label>TRUE_Legal UK</label>
        </rules>
        <rules>
            <name>OppoAcc_Legal_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__r.Account.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__r.Account.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.License_Basis__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Fee_Earner_0</targetReference>
            </connector>
            <label>OppoAcc Legal Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_9</name>
        <label>Legal Remaining</label>
        <locationX>820</locationX>
        <locationY>3935</locationY>
        <defaultConnector>
            <targetReference>myRule_14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Legal Remaining</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Account__r.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.License_Basis__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Lawyers</targetReference>
            </connector>
            <label>TRUE_Legal Remaining</label>
        </rules>
        <rules>
            <name>OppoAcc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__r.Account.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.License_Basis__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Lawyers_0</targetReference>
            </connector>
            <label>OppoAcc</label>
        </rules>
    </decisions>
    <decisions>
        <description>Opportunity Not Null</description>
        <name>Opportunity_Not_Null</name>
        <label>Opportunity Not Null</label>
        <locationX>820</locationX>
        <locationY>2435</locationY>
        <defaultConnector>
            <targetReference>myRule_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckOpportunityNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CurrencyISocode_On_Quote</targetReference>
            </connector>
            <label>CheckOpportunityNull</label>
        </rules>
    </decisions>
    <decisions>
        <description>Subsidiary Custom Metadata Is Not Null</description>
        <name>Subsidiary_Custom_Metadata_Is_Not_Null</name>
        <label>Subsidiary Custom Metadata Is Not Null</label>
        <locationX>182</locationX>
        <locationY>1943</locationY>
        <defaultConnector>
            <targetReference>GetOppo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Subsidiary_Custom_Metadata_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Subsididary_Custom_Metadata_For_Amendment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contract_Master_Term_On_Quote</targetReference>
            </connector>
            <label>Subsidiary Custom Metadata Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <description>Subsidiary Custom Metadata Is Not Null For Renewal Quote</description>
        <name>Subsidiary_Custom_Metadata_Is_Not_Null_For_Renewal_Quote</name>
        <label>Subsidiary Custom Metadata Is Not Null For Renewal Quote</label>
        <locationX>622</locationX>
        <locationY>1943</locationY>
        <defaultConnector>
            <targetReference>GetOppo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Subsidiary_Custom_Metadata_Not_Blank_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Subsidiary_Custom_Metadata_For_Renewal_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contract_Master_Term_On_Renewal_Quote</targetReference>
            </connector>
            <label>Subsidiary Custom Metadata Not Blank Renewal</label>
        </rules>
    </decisions>
    <description>BIZ-65528 Sync QTC
BIZ-65271 Remove sales segment from opportunity owner
BIZ-65428: Updated defaults of quote billing fields
BIZ-46112 ; made changes according to BIZ-46098 and BIZ-47359 ( Updating fields from contract to amend or renew quote ) ,BIZ -45104 ( Updating bill to and ship to account from quote account at time of quote creation ), BIZ-47653,BIZ-47915 Populating the Renewal Quote Type - BIZ-47716,BIZ-47653,45090
Default Record type for Amendment and Renewal Quote is set to Defaukt RT - BIZ-49667
Line of business value updated for certain case BIZ-49662.Data Model Changes for OSA: BIZ-50017
Field mapping from Contract BIZ-50474. Mapping OP4i Sales Segment from Opportunity Owner BIZ-53899
BIZ-58801 - Billing Address and Shipping address for renewals and amendments should be based on the contract and not on the account.
BIZ-62800 - QTC Stage - Value of Contract Master Terms is not populated on Renewal Quote
BIZ-66630 - SF Quote Stage did not Update to Pending Closure
BIZ-67033 - Update Cancellation Fee Details
BIZ-66415 - Added the Bypass Logic
BIZ-67669 - Added Amendment Count Logic</description>
    <environments>Default</environments>
    <formulas>
        <description>Created as part of BIZ-67669</description>
        <name>Amendment_Count</name>
        <dataType>Number</dataType>
        <expression>IF(NOT(ISNULL({!$Record.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.Amendment_Count__c})),  {!$Record.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.Amendment_Count__c} + 1, 1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>calculatedCancellationFee</name>
        <dataType>String</dataType>
        <expression>IF(
    NOT(ISBLANK(TEXT({!$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.Cancellation_fee__c}))), 
    TEXT({!$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.Cancellation_fee__c}), 
	IF(NOT(ISBLANK(TEXT({!$Record.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.Cancellation_fee__c}))), 
    TEXT({!$Record.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.Cancellation_fee__c}), 
    &quot;Standard - all fees due&quot;
))</expression>
    </formulas>
    <formulas>
        <name>formula_1_myRule_11_A1_0321489585</name>
        <dataType>String</dataType>
        <expression>{!$Record.SBQQ__Opportunity2__c.Pricebook2.Id}</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_18</name>
        <dataType>Boolean</dataType>
        <expression>NOT ( 
ISNEW()
)</expression>
    </formulas>
    <formulas>
        <name>PaymentLabel</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Subsidiary__c}) &amp; &quot; &quot; &amp; TEXT({!$Record.CurrencyIsoCode})</expression>
    </formulas>
    <formulas>
        <description>BIZ-47915</description>
        <name>QuoteExpirationDatePopulate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <interviewLabel>Quote Before Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Before Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Number_of_Quotes_on_Opportunity</name>
        <label>Get Number of Quotes on Opportunity</label>
        <locationX>358</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_Count_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Opportunity2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subsidiary_Custom_Metadata_For_Renewal_Quote</name>
        <label>Get Subsidiary Custom Metadata For Renewal Quote</label>
        <locationX>622</locationX>
        <locationY>1835</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subsidiary_Custom_Metadata_Is_Not_Null_For_Renewal_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subsidiary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.Subsidiary__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Subsidiary_Contract_Master_Term_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subsididary_Custom_Metadata_For_Amendment</name>
        <label>Get Subsididary Custom Metadata For Amendment</label>
        <locationX>182</locationX>
        <locationY>1835</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subsidiary_Custom_Metadata_Is_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subsidiary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.Subsidiary__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Subsidiary_Contract_Master_Term_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>GetOppo</description>
        <name>GetOppo</name>
        <label>GetOppo</label>
        <locationX>820</locationX>
        <locationY>2327</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Quote Default Record Type</description>
        <name>getQuoteDefaultRT</name>
        <label>getQuoteDefaultRT</label>
        <locationX>182</locationX>
        <locationY>1619</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBQQ__Quote__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft_Quote</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Quote Default Record Type</description>
        <name>getQuoteDefaultRTForRenewal</name>
        <label>getQuoteDefaultRT</label>
        <locationX>622</locationX>
        <locationY>1619</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Updates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBQQ__Quote__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft_Quote</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>694</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Quote_Expiration_Data_Populate</targetReference>
        </connector>
        <filterFormula>NOT({!$Setup.Automation_Controls__c.Active__c} 
&amp;&amp; {!$Setup.Automation_Controls__c.Bypass_Flows__c} 
&amp;&amp; {!$Setup.Automation_Controls__c.Quote_Bypass__c} 
&amp;&amp; (
    ISBLANK({!$Setup.Automation_Controls__c.Data_Id__c}) 
    || (
        NOT(ISBLANK({!$Setup.Automation_Controls__c.Data_Id__c})) 
        &amp;&amp; CONTAINS({!$Setup.Automation_Controls__c.Data_Id__c}, {!$Record.Id})
    )
))</filterFormula>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>10</triggerOrder>
    <variables>
        <name>quoteCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RenewalQuoteType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatePriceBookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
