Doc/force-app/main/default/flows/Request_Ops_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Insert_Cases_With_Assignment_Rule_Action</name>
        <label>Insert Cases With Assignment Rule Action</label>
        <locationX>698</locationX>
        <locationY>1094</locationY>
        <actionName>InsertCasesWithAssignmentRule</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Attachment</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cases</name>
            <value>
                <elementReference>caseToBeInserted</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InsertCasesWithAssignmentRule</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Case_assignment</name>
        <label>Case assignment</label>
        <locationX>699</locationX>
        <locationY>963</locationY>
        <assignmentItems>
            <assignToReference>caseToBeInserted.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.SBQQ__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseToBeInserted.Case_Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseToBeInserted.OP4I_Deal_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.OP4i_Deal_Id_Formula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseToBeInserted.OSA_Instructions_Changes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OSA_Instructions_Changes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseToBeInserted.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Severity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseToBeInserted.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseToBeInserted.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseToBeInserted.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseToBeInserted.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseToBeInserted.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Cases_With_Assignment_Rule_Action</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AM_Ops_Support</name>
        <choiceText>AM Ops Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AM Ops Support</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contracts_Support</name>
        <choiceText>Contracts Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contracts Support</stringValue>
        </value>
    </choices>
    <choices>
        <name>ContractsProcessing</name>
        <choiceText>Contracts Processing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contracts Processing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Deal_Support</name>
        <choiceText>Deal Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deal Support</stringValue>
        </value>
    </choices>
    <choices>
        <name>DealDeskProcessing</name>
        <choiceText>Deal Desk Processing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deal Desk Processing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Finance_Ops_Support</name>
        <choiceText>Finance Ops Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Finance Ops Support</stringValue>
        </value>
    </choices>
    <choices>
        <name>High</name>
        <choiceText>High</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High</stringValue>
        </value>
    </choices>
    <choices>
        <name>Low</name>
        <choiceText>Low</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Low</stringValue>
        </value>
    </choices>
    <choices>
        <name>Medium</name>
        <choiceText>Medium</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medium</stringValue>
        </value>
    </choices>
    <choices>
        <name>PendingCommercialNegotiation</name>
        <choiceText>Pending Commercial Negotiation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Commercial Negotiation</stringValue>
        </value>
    </choices>
    <choices>
        <name>PendingContractMgmt</name>
        <choiceText>Pending Contract Mgmt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Contract Mgmt</stringValue>
        </value>
    </choices>
    <choices>
        <name>PendingDealNegotiation</name>
        <choiceText>Pending Deal Negotiation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Deal Negotiation</stringValue>
        </value>
    </choices>
    <choices>
        <name>PendingDealOps</name>
        <choiceText>Pending DealOps</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending DealOps</stringValue>
        </value>
    </choices>
    <choices>
        <name>PendingLegalOps</name>
        <choiceText>Pending LegalOps</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending LegalOps</stringValue>
        </value>
    </choices>
    <choices>
        <name>PendingPaymentAdjustment</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Pending Payment Adjustment&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Payment Adjustment</stringValue>
        </value>
    </choices>
    <choices>
        <name>PendingQualityIssue</name>
        <choiceText>Pending Quality Issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Quality Issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>PendingSales</name>
        <choiceText>Pending Sales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Sales</stringValue>
        </value>
    </choices>
    <choices>
        <name>PendingServicesOps</name>
        <choiceText>Pending ServicesOps</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending ServicesOps</stringValue>
        </value>
    </choices>
    <choices>
        <name>Priority</name>
        <choiceText>Priority</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Priority</stringValue>
        </value>
    </choices>
    <choices>
        <name>Submitted</name>
        <choiceText>Submitted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Submitted</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Attachment</name>
        <label>Attachment</label>
        <locationX>842</locationX>
        <locationY>1097</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_attach_files</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attachment_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Services_Products_Check</name>
        <label>Has Services Products Check</label>
        <locationX>957</locationX>
        <locationY>281</locationY>
        <defaultConnector>
            <targetReference>Has_SOW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Services_Without_PSOps_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Has_Services_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SOW_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PSOps Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SBQQ__WatermarkShown__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Services_SOW_Status_Error</targetReference>
            </connector>
            <label>Services Without PSOps Approval</label>
        </rules>
        <rules>
            <name>Draft_OSA_With_Unapproved_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Has_Services_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SOW_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PSOps Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SBQQ__WatermarkShown__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Services_Draft_OSA_Warning</targetReference>
            </connector>
            <label>Services Draft OSA Warning</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_SOW</name>
        <label>Has SOW?</label>
        <locationX>694</locationX>
        <locationY>454</locationY>
        <defaultConnector>
            <targetReference>Request_Ops_Support</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Services_hours__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Prime_Premium_Support_Quote_Lines</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SOW_Documents</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SOW_Error</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Stage_Check</name>
        <label>Quote Stage Check</label>
        <locationX>490</locationX>
        <locationY>168</locationY>
        <defaultConnector>
            <targetReference>Get_Prime_Premium_Support_Quote_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Configure_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Quote_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Configure Products</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Stage_Error</targetReference>
            </connector>
            <label>Is Configure Products</label>
        </rules>
    </decisions>
    <description>BIZ-66219 Replaced Description and added new value to status field.
Form For Request Ops Button on Quote BIZ-50290
Enhancements to Ops Support Case BIZ-50209
Dropdown choice changes for BIZ-66404-10/2/2025
Added new Type choices for BIZ-68164
BIZ-68160 Added SOW Check
BIZ-73120 Added Services Products SOW Status validation - OSA requests blocked when Has_Services_Products__c = true and SOW_Status__c != &apos;PSOps Approved&apos;
BIZ-76632 Added Quote Stage validation - OSA requests blocked when Quote_Stage__c != &apos;Finalize OSA&apos;
BIZ-80747 Changed Quote Stage validation - OSA requests now only blocked when Quote_Stage__c = &apos;Configure Products&apos;</description>
    <dynamicChoiceSets>
        <name>CaseType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Request Ops Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request Ops Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Prime_Premium_Support_Quote_Lines</name>
        <label>Get Prime Premium Support Quote Lines</label>
        <locationX>543</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SOW_Documents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BU-02025</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>698</locationX>
        <locationY>830</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OSA_Support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SOW_Documents</name>
        <label>Get SOW Documents</label>
        <locationX>701</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Services_Products_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Document_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SOW - Ready for Packaging</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__RelatedContent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Attachment_Screen</name>
        <label>Attachment Screen</label>
        <locationX>1022</locationX>
        <locationY>1096</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AddFiles</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Add one or more files&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Attachments</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attachments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>caseToBeInserted.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quote_Stage_Error</name>
        <label>Quote Stage Error</label>
        <locationX>400</locationX>
        <locationY>288</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Quote_Stage_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: red;&quot;&gt;Quote Stage Not Eligible for OSA Request&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Cases cannot be created while the quote is in the &amp;quot;Configure Products&amp;quot; stage. Please advance the quote stage before requesting Ops Support.&lt;/p&gt;&lt;p&gt;Current Quote Stage: &lt;strong&gt;{!recordId.Quote_Stage__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Request_Ops_Support</name>
        <label>Request Ops Support</label>
        <locationX>697</locationX>
        <locationY>700</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>Contracts_Support</choiceReferences>
            <choiceReferences>AM_Ops_Support</choiceReferences>
            <choiceReferences>Finance_Ops_Support</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Contracts_Support</defaultSelectedChoiceReference>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>Submitted</choiceReferences>
            <choiceReferences>ContractsProcessing</choiceReferences>
            <choiceReferences>PendingLegalOps</choiceReferences>
            <choiceReferences>PendingServicesOps</choiceReferences>
            <choiceReferences>PendingDealNegotiation</choiceReferences>
            <choiceReferences>PendingQualityIssue</choiceReferences>
            <choiceReferences>PendingSales</choiceReferences>
            <choiceReferences>PendingDealOps</choiceReferences>
            <choiceReferences>PendingContractMgmt</choiceReferences>
            <choiceReferences>PendingPaymentAdjustment</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Submitted</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>OSA_Instructions_Changes</name>
            <fieldText>OSA Instructions / Changes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Severity</name>
            <choiceReferences>Low</choiceReferences>
            <choiceReferences>Medium</choiceReferences>
            <choiceReferences>High</choiceReferences>
            <choiceReferences>Priority</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Medium</defaultSelectedChoiceReference>
            <fieldText>Severity</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Do_you_want_to_attach_files</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you want to attach files?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Services_Draft_OSA_Warning</name>
        <label>Services Draft OSA Warning</label>
        <locationX>224</locationX>
        <locationY>488</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Has_SOW</targetReference>
        </connector>
        <fields>
            <name>Services_Draft_OSA_Warning_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: orange;&quot;&gt;⚠Warning&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;This Quote contains services products that require SOW approval. The OSA will be created in Draft mode.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Services_SOW_Status_Error</name>
        <label>Services SOW Status Error</label>
        <locationX>70</locationX>
        <locationY>388</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Services_SOW_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: red;&quot;&gt;OSA Request Blocked&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;This quote contains services products that require SOW approval before an OSA can be requested.&lt;/p&gt;&lt;p&gt;Current SOW Status: &lt;strong&gt;{!recordId.SOW_Status__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Required SOW Status: &lt;strong&gt;PSOps Approved&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Please ensure services are approved before proceeding with any OSA request containing services lines. Reach out to services sales for assistance.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SOW_Error</name>
        <label>SOW Error</label>
        <locationX>611</locationX>
        <locationY>535</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Request_Ops_Support</targetReference>
        </connector>
        <fields>
            <name>SOW_Error_Message</name>
            <fieldText>&lt;p&gt;Until an SOW is attached to the deal, only draft OSA can be requested&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Quote_Stage_Check</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseToBeInserted</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
</Flow>
