Doc/force-app/main/default/flows/Set_the_Quote_Fields_To_True.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Last_OSA_Comment_Received</name>
        <label>Assign Last OSA Comment Received</label>
        <locationX>674</locationX>
        <locationY>305</locationY>
        <assignmentItems>
            <assignToReference>OP4I_OSA_Request_Received_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Last_Modified_By_Contract_Support_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OP4I_Deal_Synced</name>
        <label>Assign OP4I_Deal_Synced</label>
        <locationX>704</locationX>
        <locationY>635</locationY>
        <assignmentItems>
            <assignToReference>OP4I_Deal_Synced_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Record</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>BizzAppIntUserId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00550000007h2mo</stringValue>
        </value>
    </constants>
    <constants>
        <name>BizzIntegrationUserid</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00550000007h2moAAA</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Last_Modified_By_Contract_Support_Request</name>
        <label>Last Modified By Contract Support Request</label>
        <locationX>381</locationX>
        <locationY>476</locationY>
        <defaultConnector>
            <targetReference>Update_Quote_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_Last_Modified_Contract_Support_Request_changed</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Last_Modified_Contract_Support_Request__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BizzIntegrationUserid</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_New_Record_Value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_Modified_Contract_Support_Request__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BizzIntegrationUserid</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OP4I_Deal_Synced</targetReference>
            </connector>
            <label>Check if Last Modified Contract Support Request changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Last_OSA_comment_Check</name>
        <label>Last OSA comment Check</label>
        <locationX>377</locationX>
        <locationY>319</locationY>
        <defaultConnector>
            <targetReference>Last_Modified_By_Contract_Support_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_OSA_comment</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BizzIntegrationUserid</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_OSA_Comment__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_New_Record_Value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_OSA_Comment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BizzIntegrationUserid</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Last_OSA_Comment_Received</targetReference>
            </connector>
            <label>Last OSA comment</label>
        </rules>
    </decisions>
    <description>BIZ-201 &amp; 202</description>
    <environments>Default</environments>
    <formulas>
        <name>Is_New_Record_Value</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Set the Quote Fields To True {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set the Quote Fields To True</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Quote_Record</name>
        <label>Update Quote Record</label>
        <locationX>395</locationX>
        <locationY>746</locationY>
        <inputAssignments>
            <field>OP4I_Deal_Synced__c</field>
            <value>
                <elementReference>OP4I_Deal_Synced_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OP4I_OSA_Request_Received__c</field>
            <value>
                <elementReference>OP4I_OSA_Request_Received_Value</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>267</locationX>
        <locationY>15</locationY>
        <connector>
            <targetReference>Last_OSA_comment_Check</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>OP4I_Deal_Synced_Value</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.OP4I_Deal_Synced__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>OP4I_OSA_Request_Received_Value</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.OP4I_OSA_Request_Received__c</elementReference>
        </value>
    </variables>
</Flow>
